.tribe-editor__year-month-form {
	display: table-caption;
	margin-bottom: 18px;
	text-align: center;

	.tribe-editor__year-month-form__month,
	.tribe-editor__year-month-form__year {
		border: none;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
		font-size: 16px;
	}
}
