.tribe-editor__year-month-form {
	display: table-caption;
	text-align: center;
	margin-bottom: 18px;

	.tribe-editor__year-month-form__month,
	.tribe-editor__year-month-form__year {
		font-size: 16px;
		border: none;
		box-shadow: 0 1px 0 rgba(0, 0, 0, .1)
	}
}
