{
	"presets": [
		[ "env", {
			"modules": false,
			"targets": {
				"browsers": [
					"last 2 Chrome versions",
					"last 2 Firefox versions",
					"last 2 Safari versions",
					"last 2 Edge versions",
					"last 2 Opera versions",
					"last 2 iOS versions",
					"last 1 Android version",
					"last 1 ChromeAndroid version",
					"ie 11",
					"> 1%"
				]
			}
		} ]
	],
	"plugins": [
		"transform-class-properties",
		"syntax-class-properties",
		"transform-object-rest-spread",
		"transform-async-to-generator",
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}],
		[ "transform-react-jsx", {
			"pragma": "wp.element.createElement"
		} ],
		["lodash"]
	],
	"env": {
		"default": {
			"plugins": [
				"transform-class-properties",
				"syntax-class-properties",
				"import-glob"
			]
		},
		"test": {
			"presets": [ "env" ],
			"plugins": [
				"transform-class-properties",
				"syntax-class-properties"
			]
		},
		"gettext": {
			"plugins": [
				[ "./i18n/babel-plugin", {
					"output": "languages/gutenberg.pot"
				} ]
			]
		}
	}
}
