last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
last 2 Opera versions
last 2 iOS versions
last 1 Android version
last 1 ChromeAndroid version
last 1 FirefoxAndroid version
> 1%, not op_mini all, not ie <= 11, not ie_mob <= 11
