{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "products/react",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": [1],
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "semi": [
      "error"
    ],
    "no-unused-vars": [
      "warn"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "warning",
          "error"
        ]
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-in-parens": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "always",
      {
        "objectsInArrays": false
      }
    ],
    "eqeqeq": [
      "error",
      "smart"
    ],
    "computed-property-spacing": [
      "error",
      "always"
    ],
    "space-unary-ops": [
      "error",
      {
        "words": true,
        "nonwords": false,
        "overrides": {
          "--": false,
          "++": false,
          "!": true
        }
      }
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "comments": 120
      }
    ],
    "react/no-string-refs": "error",
    "react/jsx-first-prop-new-line": "error",
    "react/jsx-max-props-per-line": [
      "error",
      {
        "maximum": 1,
        "when": "multiline"
      }
    ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line"
      }
    ],
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "always",
        "children": true
      }
    ],
    "react/no-unused-prop-types": 0,
    "wpcalypso/import-docblock": "warn",
    "wpcalypso/jsx-classname-namespace": "warn"
  },
  "globals": {
    "wp": true,
    "jQuery": true,
    "tribe_blocks_editor_timezone_html": true,
    "tribe_data_countries": true,
    "tribe_data_us_states": true,
    "siteTimezone": true,
    "jest": true,
    "expect": true,
    "test": true,
    "describe": true,
    "afterAll": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "tribe_blocks_editor": true,
    "mount": true,
    "shallow": true,
    "renderer": true
  }
}
