# /vendor/
.DS_Store
.idea

# build files for js minification

compiler.jar
*.ps1

phpunit.xml
codeception.yml
vendor/badcow
vendor/bin
vendor/codeception
vendor/composer
vendor/facebook
vendor/guzzlehttp
vendor/lucatume
vendor/ocramius
vendor/phpunit
vendor/sebastian
vendor/symfony
vendor/autoload.php
tests/_output/*
tests/_bootstrap.php
tests/service/_bootstrap.php
tests/ui/_bootstrap.php
tests/unit/_bootstrap.php
tests/_data/dump.sql
tests/_support/ServiceHelper.php
tests/_support/UIHelper.php
tests/_support/UnitHelper.php
tests/service.suite.yml
tests/service/ServiceTester.php
tests/ui.suite.yml
tests/ui/UITester.php
tests/unit/UnitTester.php
