.DS_Store
.idea
# build files for js minification

dev/jshint-report.html
compiler.jar
*.ps1

codeception.yml
tests/_bootstrap.php
tests/_output/
tests/_output/*
tests/acceptance.suite.yml
tests/functional.suite.yml
tests/unit.suite.yml
tests/phantomjs.suite.yml
tests/_support/_generated/*
tests/functional/_bootstrap.php
tests/acceptance/_bootstrap.php
tests/wpunit.suite.yml
tests/unit/_bootstrap.php
tests/wpunit/_bootstrap.php

vendor
!vendor/handlebars
!vendor/isotope
!vendor/momentjs
!vendor/nanoscroller
