[submodule "vendor/tribe-common-libraries"]
	path = vendor/tribe-common-libraries
	url = moderntribe_git@git.tri.be:tribe-common-libraries
[submodule "vendor/isotope"]
	path = vendor/isotope
	url = git://github.com/desandro/isotope.git
[submodule "vendor/jquery-slimscroll"]
	path = vendor/jquery-slimscroll
	url = git://github.com/rochal/jQuery-slimScroll.git
