# Vendor dependencies - ignore all by default...
vendor
# ...but do not ignore the ones below; add to the safe list as the need arises
!vendor/bootstrap-datepicker
!vendor/chosen
!vendor/jquery
!vendor/jquery-placeholder
!vendor/jquery-resize
!vendor/tribe-common-libraries
!vendor/ForceUTF8
!vendor/php-date-formatter

# Tests - local config files
codeception.yml
tests/*.suite.yml
.env*.local
*.tric
*.tric.yml

# Tests - local output files
tests/_output

# General Purpose Ingored Files
.DS_Store
.idea
node_modules
compiler.jar
*.ps1
*.code-workspace

wpml-config.xml
.env.testing

# get from translate.wordpress.org as needed
lang/*.po
lang/*.mo

# Resources Ignoring
src/resources/**/app
src/resources/css
src/resources/js/**/*.min.js
files/

# Misc
bin/strauss.phar