*.css linguist-generated=true
*.min.css linguist-generated=true
*.min.js linguist-generated=true
tests/_support/_generated/* linguist-generated=true
*/__snapshots__/* linguist-generated=true
*/__mocks__/* linguist-generated=true

/**/*.swp export-ignore
/__mocks__/* export-ignore
/_plugins/* export-ignore
/_wordpress/* export-ignore
/.github export-ignore
/bin export-ignore
/tests export-ignore
/vendor/**/*.md export-ignore
/vendor/**/*.txt export-ignore

*.md export-ignore
*.swp export-ignore
.stylelintrc
package-safelist.json export-ignore
