*.css linguist-generated=true
*.min.css linguist-generated=true
*.min.js linguist-generated=true
tests/_support/_generated/* linguist-generated=true
*/__snapshots__/* linguist-generated=true
*/__mocks__/* linguist-generated=true

__mocks__/ export-ignore
__snapshots__/ export-ignore
__tests__/ export-ignore
_plugins/ export-ignore
_wordpress/ export-ignore
.github/ export-ignore
bin/ export-ignore
dev/ export-ignore
files/ export-ignore
src/resources/postcss/ export-ignore
tests/ export-ignore
vendor/bootstrap-datepicker/css/* export-ignore
vendor/bootstrap-datepicker/js/* export-ignore
vendor/chosen/public/* export-ignore
vendor/ForceUTF8/* export-ignore
vendor/jquery-placeholder/* export-ignore
vendor/jquery-resize/* export-ignore
vendor/php-date-formatter/examples/ export-ignore
src/modules/* export-ignore

*.md export-ignore
*.swp export-ignore
.stylelintrc
package-safelist.json export-ignore
