{
	"extends": "@the-events-calendar/product-taskmaster/config/stylelint",
	"rules": {
		"property-no-unknown": [
			true, {
				"ignoreProperties": ["container-type"]
			}
		]
	},
	"ignoreFiles": [
		"src/resources/postcss/utilities/**"
	]
}
