parameters:
  level: 0
  paths:
    - src
    - the-events-calendar.php
  scanDirectories:
    - common/src
    - common/vendor/vendor-prefixed
    # WP API is stubbed by szepeviktor/phpstan-wordpress - make sure this stays up to date w/ WP