:root {
	--tec-onboarding-tab-panel-width: 635px;
	--tec-wp-core-grey-0: #f6f7f7;
	--tec-scales-grey-200: #e0e0e0;
	--tec-admin-border-radius-0: 4px;
	--tec-admin-border-radius-1: 8px;
	--tec-admin-border-radius-2: 12px;
}

.tec-events-onboarding__modal {}

.tec-events-onboarding__modal-overlay {}

.tec-events-onboarding__tab-panel {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
	width: var(--tec-onboarding-tab-panel-width);
}

.tec-events-onboarding__header-icon {
	height: 28px;
	width: 24px;
}

.tec-events-onboarding__header-icon--brand {
	height: 38px;
	width: 46px;
}

.tec-events-onboarding__intro-header {
	height: 180px;
}

.tec-events-onboarding__opt-in-checkbox--wrapper {
	background-color: var(--tec-wp-core-grey-0);
	border: 1px solid var(--tec-scales-grey-200);
	border-radius: var(--tec-admin-border-radius-2);
	display: flex;
	justify-content: center;
	margin: 0 94px;
	padding: 24px 32px;
}

.tec-events-onboarding__opt-in-checkbox--description {
	font-size: 14px;
	letter-spacing: 0.28px;
	line-height: 1.5;
	text-align: left;
}
