/* -----------------------------------------------------------------------------
* Event Status.
* ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
* Single.
* ----------------------------------------------------------------------------- */
.tribe-events-single {

	.tribe-events-status-single__header--alert-icon {
		align-items: center;
		display: inline-flex;
	}

	.tribe-events-status-single {
		margin-bottom: var(--tec-spacer-4);
		padding: var(--tec-spacer-2) var(--tec-spacer-4);
	}

	.tribe-events-status-single__description {
		padding-left: var(--tec-spacer-5);
	}
}
