/* -----------------------------------------------------------------------------
* Event Status.
* ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
* Single.
* ----------------------------------------------------------------------------- */
.tribe-events-single {

	.tribe-events-status-single__header {
		font-weight: var(--tec-font-weight-regular);
		line-height: var(--tec-line-height-0);
	}

	.tribe-events-status-single__header--bold {
		font-weight: var(--tec-font-weight-bold);
	}

	.tribe-events-status-single__header--alert-icon {
		align-items: center;
		display: inline-flex;
	}

	.tribe-events-status-single {
		font-size: var(--tec-font-size-2);
		margin-bottom: var(--tec-spacer-4);
		padding: var(--tec-spacer-2) var(--tec-spacer-4);
	}

	.tribe-events-status-single__description {
		padding-left: var(--tec-spacer-5);
	}
}
