/* -----------------------------------------------------------------------------
 * Elementor Widgets: Icons
 * ----------------------------------------------------------------------------- */

@import "svgs.pcss";

i[class*="tec-events-elementor-event-widget__icon"]:before {
	background-position: center center;
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	height: 22px;
	margin-right: 0.2em;
	speak: never;
	width: 22px;
}

.elementor-navigator__element__element-type i[class*="tec-events-elementor-event-widget__icon"]:before {
	height: 14px;
	width: 14px;
}

.tec-events-elementor-event-widget__icon-calendar-link:before {
	background-image: svg-inline(elementor-event-calendar-link);
}

.tec-events-elementor-event-widget__icon-categories:before {
	background-image: svg-inline(elementor-event-categories);
}

.tec-events-elementor-event-widget__icon-cost:before {
	background-image: svg-inline(elementor-event-cost);
}

.tec-events-elementor-event-widget__icon-datetime:before {
	background-image: svg-inline(elementor-event-datetime);
}

.tec-events-elementor-event-widget__icon-export:before {
	background-image: svg-inline(elementor-event-export);
}

.tec-events-elementor-event-widget__icon-footer:before {
	background-image: svg-inline(elementor-event-footer);
}

.tec-events-elementor-event-widget__icon-image:before {
	background-image: svg-inline(elementor-event-image);
}

.tec-events-elementor-event-widget__icon-navigation:before {
	background-image: svg-inline(elementor-event-navigation);
}

.tec-events-elementor-event-widget__icon-organizer:before {
	background-image: svg-inline(elementor-event-organizer);
}

.tec-events-elementor-event-widget__icon-status:before {
	background-image: svg-inline(elementor-event-status);
}

.tec-events-elementor-event-widget__icon-tags:before {
	background-image: svg-inline(elementor-event-tags);
}

.tec-events-elementor-event-widget__icon-tickets:before {
	background-image: svg-inline(elementor-event-tickets);
}

.tec-events-elementor-event-widget__icon-title:before {
	background-image: svg-inline(elementor-event-title);
}

.tec-events-elementor-event-widget__icon-venue:before {
	background-image: svg-inline(elementor-event-venue);
}

.tec-events-elementor-event-widget__icon-website:before {
	background-image: svg-inline(elementor-event-website);
}

.tec-events-elementor-event-widget__icon-rsvp:before {
	background-image: svg-inline(elementor-event-rsvp);
}
