<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
				 backupStaticAttributes="false"
				 colors="true"
				 convertErrorsToExceptions="true"
				 convertNoticesToExceptions="true"
				 convertWarningsToExceptions="true"
				 processIsolation="false"
				 stopOnFailure="false"
				 syntaxCheck="false"
				 bootstrap="bootstrap.php"
		>
	<php>
		<const name="TRIBE_PRO_PATH" value="events-pro/events-calendar-pro.php" />
		<const name="TRIBE_COMMUNITY_PATH" value="events-community/tribe-community-events.php" />
		<const name="TRIBE_ICAL_IMPORTER_PATH" value="events-importer-ical/the-events-calendar-ical-importer.php" />
	</php>
	<testsuites>
		<testsuite name="Events">
			<directory>./phpunit</directory>
			<directory>../../events-pro/tests/phpunit</directory>
			<directory>../../events-community/tests/phpunit</directory>
			<directory>../../events-importer-ical/tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ignore</group>
		</exclude>
	</groups>
	<filter>
		<whitelist processsUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
			<directory suffix=".php">../../events-pro</directory>
			<directory suffix=".php">../../events-community</directory>
			<directory suffix=".php">../../events-importer-ical</directory>
			<exclude>
				<directory>.</directory>
				<directory>../../events-pro/tests</directory>
				<directory>../../events-community/tests</directory>
				<directory>../../events-importer-ical/tests</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>