.tribe-events {
	/* -----------------------------------------------------------------------------
	 *
	 * Layout: Events Content Container
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-events-l-container {
		padding-bottom: var(--spacer-12);
		padding-top: var(--spacer-11);

		@media (--viewport-medium) {
			padding-bottom: var(--spacer-14);
			padding-top: var(--spacer-13);
		}
	}
}
