/* -----------------------------------------------------------------------------
 *
 * View: Events View
 *
 * ----------------------------------------------------------------------------- */

.tribe-events-view {
	position: relative;
}
