:root {
	/* -----------------------------------------------------------------------------
	 * Box Shadows
	 * ----------------------------------------------------------------------------- */

	--box-shadow-default: 0 2px 5px 0 var(--color-box-shadow);
}
