:root {
	/* -----------------------------------------------------------------------------
	 * Gutter - Default
	 * ----------------------------------------------------------------------------- */

	--grid-gutter: 48px;
	--grid-gutter-negative: calc(var(--grid-gutter) * -1);
	--grid-gutter-half: calc(var(--grid-gutter) / 2);
	--grid-gutter-half-negative: calc(var(--grid-gutter-half) * -1);

	/* -----------------------------------------------------------------------------
	 * Gutter - Page
	 * ----------------------------------------------------------------------------- */

	--grid-gutter-page: 42px;
	--grid-gutter-page-small: 19.5px;

	/* -----------------------------------------------------------------------------
	 * Grid Width
	 * ----------------------------------------------------------------------------- */
	--grid-width-default: 1176px;
	--grid-width-min: 320px;
	--grid-width: calc(var(--grid-width-default) + 2 * var(--grid-gutter-page));
}
