/* -----------------------------------------------------------------------------
 * SVG - Featured
 * ----------------------------------------------------------------------------- */

@svg-load featured url('../../../images/icons/featured-event.svg') {

	polygon {
		fill: var(--color-accent-primary);
	}
}
