/* -----------------------------------------------------------------------------
 *
 * Day Marker
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-day-marker {
		align-items: center;
		display: flex;

		&:after {
			background-color: var(--color-border-default);
			content: '';
			display: block;
			flex: auto;
			height: 1px;
			margin-left: 20px;
		}
	}

	.tribe-events-c-day-marker__date {
		flex: none;
	}
}
