/* -----------------------------------------------------------------------------
 *
 * Events Bar
 *
 * ----------------------------------------------------------------------------- */

.tribe-events-calendar-events-bar {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.tribe-events-calendar-events-bar--form {
	flex: 1 1 45%;
}

.tribe-events-calendar-events-bar--views {
	flex: 1 1 40px;
	display: flex;
	justify-content: center;
}

.tribe-events-calendar-events-bar--filters {
	display: flex;
	justify-content: flex-end;
}