/* -----------------------------------------------------------------------------
 *
 * Small CTA (Tooltips - ET, ET+, RSVP)
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-small-cta__link {
		cursor: pointer;
	}

	.tribe-events-c-small-cta__price {
		@mixin desktop-body-3;
		padding-left: 10px;

	}
}
