/* -----------------------------------------------------------------------------
 *
 * Top Bar
 *
 * ----------------------------------------------------------------------------- */
.tribe-events {
	.tribe-events-calendar-top-bar {
		display: flex;
		margin-top: var(--spacer-7);
		margin-bottom: var(--spacer-5);
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}

	.tribe-events-calendar-top-bar--nav {
		display: flex;
		padding-right: 15px;
		align-items: center;

		nav a {
			padding-right: 8px;
			&:before {
				height: 16px;
			}
		}
	}

	.tribe-events-calendar-top-bar--today {
		display: flex;
		flex: 1 1 60%;
		align-items: center;
	}

	.tribe-events-calendar-top-bar--today--button {
		margin-right: 15px;
	}

	.tribe-events-calendar-top-bar--actions {
		display: flex;
		justify-content: flex-end;
	}
}