/* -----------------------------------------------------------------------------
 *
 * Top Bar
 *
 * ----------------------------------------------------------------------------- */

.tribe-events-calendar-top-bar {
	display: flex;
	margin-top: 40px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.tribe-events-calendar-top-bar--nav {
	display: flex;
}

.tribe-events-calendar-top-bar--today {
	flex: 1 1 60%;
}

.tribe-events-calendar-top-bar--actions {
	display: flex;
	justify-content: flex-end;
}
