/* -----------------------------------------------------------------------------
 *
 * Breadcrumbs
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-breadcrumbs {
		margin-bottom: var(--tec-spacer-5);
		width: 100%;

		.tribe-common--breakpoint-medium& {
			margin-bottom: var(--tec-spacer-9);
		}
	}

	.tribe-events-c-breadcrumbs__list {
		display: flex;
		flex-wrap: wrap;
	}

	.tribe-events-c-breadcrumbs__list-item {
		display: inline-flex;
		align-items: center;

		&:last-child {

			.tribe-events-c-breadcrumbs__list-item-icon-svg {
				display: none;
			}
		}
	}

	.tribe-events-c-breadcrumbs__list-item-icon-svg {
		display: inline-block;
		height: 14px;
		width: 6px;
		margin: 0 6px;

		path {
			fill: currentColor;
		}

		.tribe-common--breakpoint-medium& {
			height: 16px;
			width: 10px;
			margin: 0 10px;
		}
	}
}
