/* -----------------------------------------------------------------------------
 *
 * Content Title
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-header__content-title {
		width: 100%;
		margin: var(--tec-spacer-7) 0;

		.tribe-common--breakpoint-medium& {

		}

		.tribe-events-header__content-title-text {

			.tribe-common--breakpoint-medium& {

			}
		}
	}
}
