/* -----------------------------------------------------------------------------
 *
 * Content Title
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-header__content-title {
		width: 100%;

		.tribe-events-header__content-title > :not(.tec-a11y-title-hidden) {
			margin-bottom: var(--tec-spacer-5);

			.tribe-common--breakpoint-medium& {
				margin-bottom: var(--tec-spacer-7);
			}
		}
	}
}
