/* -----------------------------------------------------------------------------
 *
 * Day Marker
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-day-marker {
		align-items: center;
		display: flex;
	}

	.tribe-events-c-day-marker__date {
		flex: none;
	}
}
