/* -----------------------------------------------------------------------------
 *
 * iCal link
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-ical {
		margin-top: var(--spacer-4);
		text-align: right;
	}

	.tribe-events-c-ical__link {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		padding: var(--spacer-2);
		width: 100%;

		.tribe-common--breakpoint-medium& {
			width: auto;
		}
	}

	.tribe-events-c-ical__link-icon-svg {
		display: none;
	}
}
