/* -----------------------------------------------------------------------------
 *
 * iCal link
 *
 * ----------------------------------------------------------------------------- */
.single-tribe_events,
.tribe-events {

	.tribe-events-c-ical {
		margin-top: var(--tec-spacer-4);
		text-align: right;
	}

	.tribe-events-c-ical__link {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		padding: var(--tec-spacer-2);
		width: 100%;

		.tribe-common--breakpoint-medium& {
			width: auto;
		}
	}

	.tribe-events-c-ical__link-icon-svg {
		display: none;
	}

	/* -----------------------------------------------------------------------------
	 *
	 * iCal Subscribe Dropdown
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-events-c-subscribe-dropdown__container {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
	}

	.tribe-events-c-subscribe-dropdown {
		font-size: var(--tec-font-size-2);
		margin: var(--tec-spacer-7) 0;

		.tribe-common--breakpoint-medium& {
			float: right;
			margin-left: auto;
		}

		/* Fix for a FBAR style bug */
		.tribe-events--filter-bar-vertical.tribe-common--breakpoint-medium& {
			width: auto;
		}

		.tribe-events-c-subscribe-dropdown__button {
			position: relative;
		}

		.tribe-events-c-subscribe-dropdown__button-icon {
			display: inline-block;
			height: 6px;
			margin-left: var(--tec-spacer-1);
			vertical-align: middle;
			width: 10px;
		}

		.tribe-events-c-subscribe-dropdown__export-icon {
			height: 16px;
		}

		.tribe-events-c-subscribe-dropdown__content {
			display: none;
		}

		.tribe-events-c-subscribe-dropdown__list {
			list-style: none;
			padding: var(--tec-spacer-1);
			transform: translateY(var(--tec-spacer-1));
			width: auto;
			z-index: var(--tec-z-index-dropdown);
		}

		.tribe-events-c-subscribe-dropdown__list-item {
			border-radius: var(--tec-border-radius-default);
			outline: 0;
			padding: var(--tec-spacer-0);
			text-align: left;

			a {
				display: inline-block;
				padding: 0 var(--tec-spacer-3);
				width: 100%;
			}
		}

		&:focus,
		&:focus-within {
			/* Show the submenu when we are focused anywhere inside. */
			.tribe-events-c-subscribe-dropdown__content {
				display: block;
			}

			/* ...and the icon rotate */
			.tribe-events-c-subscribe-dropdown__button-icon {
				transform: rotate(180deg);
			}
		}

		.tribe-events-c-subscribe-dropdown__button--active {
			+.tribe-events-c-subscribe-dropdown__content {
				display: block;
			}

			/* ...and the icon rotate */
			.tribe-events-c-subscribe-dropdown__button-icon {
				transform: rotate(180deg);
			}
		}
	}
}
