/* -----------------------------------------------------------------------------
 *
 * iCal link
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-ical {
		margin-top: var(--spacer-4);
		text-align: right;
	}

	.tribe-events-c-ical__link {
		padding: var(--spacer-2);
		width: 100%;

		.tribe-common--breakpoint-medium& {
			width: auto;
		}
	}
}
