/* -----------------------------------------------------------------------------
 *
 * Loader
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-view-loader {
		align-items: flex-start;
		background-color: var(--color-background-transparent);
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: var(--z-index-spinner-container);
	}
}
