/* -----------------------------------------------------------------------------
 *
 * Promo
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-promo {
		margin-top: var(--spacer-4);
	}
}
