/* -----------------------------------------------------------------------------
 *
 * Read More
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-read-more {
		margin-top: var(--spacer-2);
	}
}
