/* -----------------------------------------------------------------------------
 *
 * Tooltip
 *
 * ----------------------------------------------------------------------------- */

/* Defining our tooltipster theme. */
.tooltipster-base.tribe-events-tooltip-theme {
	height: auto !important;
	max-width: 254px;
	padding: var(--spacer-5);

	.tooltipster-box {
		margin: 0;

		.tooltipster-content {
			padding: 0;
			word-break: break-word;
		}
	}

	.tooltipster-arrow {
		display: none;
	}
}
