.tribe-events {
	/* -----------------------------------------------------------------------------
	 * View Box Border
	 * ----------------------------------------------------------------------------- */
	.tec-events-c-view-box-border {
		padding: var(--tec-spacer-5);
		margin-bottom: var(--tec-spacer-5);
		width: 100%;

		.tribe-common--breakpoint-medium& {
			padding: var(--tec-spacer-5);
			margin-bottom: var(--tec-spacer-7);
		}
	}

}