.tribe-events {
	/* -----------------------------------------------------------------------------
	 * View Box Border
	 * ----------------------------------------------------------------------------- */
	.tec-events-c-view-box-border {
		margin-bottom: var(--tec-spacer-5);
		padding: var(--tec-spacer-5);
		width: 100%;

		.tribe-common--breakpoint-medium& {
			margin-bottom: var(--tec-spacer-7);
			padding: var(--tec-spacer-5);
		}
	}
}
