.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month {
		margin-bottom: var(--spacer-1);

		@media (--viewport-medium) {
			margin: 0;
		}
	}
}
