.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar Header
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__header tr {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		justify-items: center;

		.tribe-common--breakpoint-medium& {
			justify-items: start;
		}
	}

	.tribe-events-calendar-month__header-row {
		display: flex;
	}

	.tribe-events-calendar-month__header-column {
		padding-bottom: var(--tec-spacer-3);
		width: var(--tec-grid-width-1-of-7);
	}

	.tribe-events-calendar-month__header-column-title {
		margin: 0;
	}

	.tribe-events-calendar-month__header-column-title-mobile {

		.tribe-common--breakpoint-medium& {

			@mixin hidden;
		}
	}

	.tribe-events-calendar-month__header-column-title-desktop {

		.tribe-common--breakpoint-medium& {
			display: block !important;
			visibility: visible;
		}
	}
}
