.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar Body
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__week {
		display: flex;
	}
}
