.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month {
		margin-bottom: var(--tec-spacer-1);

		.tribe-common--breakpoint-medium& {
			margin: 0;
		}
	}
}
