.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Day
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__day {
		aspect-ratio: 1 / 1;
		height: auto;
		min-height: 36px;
		overflow: hidden;
		padding-top: var(--tec-grid-width-1-of-7);
		position: relative;
		width: var(--tec-grid-width-1-of-7);

		.tribe-common--breakpoint-medium& {
			aspect-ratio: auto;
			border-color: var(--tec-color-border-secondary-month-grid);
			border-style: solid;
			border-width: 0 1px 1px 0;
			min-height: 168px;
			overflow: visible;
			padding-top: 0;
		}
	}

	.tribe-events-calendar-month__day-cell {
		height: 100%;
		width: 100%;
	}

	.tribe-events-calendar-month__day-cell--mobile {
		align-items: center;
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		top: 0;

		.tribe-common--breakpoint-medium& {
			@mixin hidden;
		}
	}

	.tribe-events-calendar-month__day-cell--desktop {

		.tribe-common--breakpoint-medium& {
			display: flex !important;
			flex-direction: column;
			visibility: visible;
		}
	}

	.tribe-events-calendar-month__day-date {
		margin: 0;

		.tribe-common--breakpoint-medium& {
			flex: none;
			padding: var(--tec-spacer-1) var(--tec-spacer-3);
		}
	}

	.tribe-events-calendar-month__events {
		flex: auto;
	}

	.tribe-events-calendar-month__mobile-events-icon--event {
		background-color: currentColor;
		border-radius: 50%;
		height: 8px;
		width: 8px;
	}

	.tribe-events-calendar-month__mobile-events-icon--featured {
		line-height: 0;
		width: 8px;

		.tribe-events-calendar-month__mobile-events-icon-svg path {
			fill: currentColor;
		}
	}
}
