.tribe-events {
	/* -----------------------------------------------------------------------------
	 * More Events
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__more-events {
		display: flex;
		flex: none;
		margin: 0 var(--tec-spacer-3);
		padding: var(--tec-spacer-1) 0 var(--tec-spacer-3);
	}

	.tribe-events-calendar-month__more-events-link {
		flex: none;
	}
}
