.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month-nav {
		padding-top: var(--spacer-4);

		@media (--viewport-medium) {
			@mixin hidden;
		}
	}
}
