/* Stylesheet for all pro-only functionality */
 
/* Related Events */
.related-events-title {
	color: #666;
}
 
ul.related-events {
	display: block;
	margin: 0;
}
 
ul.related-events li {
	display: block;
	min-width: 160px;
	vertical-align: text-bottom;
	position: relative;
	float: left;
	list-style-type: none;
}
 
.related-event-date {
	font-size: .75em;
	text-transform: uppercase;
}
 
 
/* Events Countdown Widget */
.tribe-countdown-timer span.tribe-countdown-seconds, .tribe-countdown-timer span.format, .tribe-countdown-timer span.tribe-countdown-complete {
	display: none;
}
 
div.tribe-countdown-timer {
	text-align: center;
	line-height: 1.5em;
	padding-top: 10px;
}
 
div.tribe-countdown-number {
	float: left;
	color: #000;
	font-size: 2.4em;
}
 
span.tribe-countdown-under {
	font-size: 10px;
	color: #666;
	text-transform: uppercase;
	font-weight: 500;
}
 
div.tribe-countdown-colon {
	float: left;
	color: #666;
	font-size: 1.5em;
	padding: 0 4px;
}
div.tribe-countdown-right {
	float: left;
}
 
div.tribe-countdown-text {
	clear: both;
}

#tribe-geo-wrapper {
	width  : 100%;
	margin : 0 auto;
}

#tribe-geo-data {
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	margin-bottom: 10px;
	padding: 4px;
	width: auto;
}

#tribe-geo-data input[type="text"] {
	width : 300px;
	height:24px;
	padding:3px;
}

#tribe-geo-location {
	width : 400px;
}

#tribe-geo-map {
	width  : 100%;
	height : 300px;

}

#tribe-geo-map label { width: auto; display:inline; }
#tribe-geo-map img { max-width: none; }

#tribe-geo-loading {
	display           : none;
	position          : absolute;
	width             : 600px;
	height            : 310px;
	left              : 50%;
	margin-left       : -300px;
	background        : rgba(0, 0, 0, 0.6);
	border-radius     : 10px;

	z-index           : 99;

	webkit-transition : all 1s linear;
	-moz-transition   : all 1s linear;
	-o-transition     : all 1s linear;
	-ms-transition    : all 1s linear;
	transition        : all 1s linear;

}

#ajax-loading-mini {
	display : none;
}

#tribe-geo-options {
	margin-bottom : 30px;
	display       : none;
}

#tribe-geo-options a {
	display : block;
}

#tribe-geo-results {
	width : 100%;
}

#tribe-geo-results div {
	margin-bottom : 10px;
}

#tribe-geo-results div span {
	width      : 33.333%;
	text-align : right;
	display    : inline-block;
}

#tribe-geo-results div span.heading {
	font-weight : bold;
}

#tribe-geo-results .found{

	width: 100%;
	text-align: center;
	font-size: 13px;
	font-style: italic;
}

.timer {
	text-align : center;
	width      : 100%;
	color      : red;
	margin     : 20px 0;
}