/* = Events Icon
=============================================*/
.events-cal #icon-edit {background:url(images/events-screen-icon.png) no-repeat 6px 3px; -webkit-background-size: 23px 25px; background-size: 23px 25px;}
#adminmenu #menu-posts-tribe_events div.wp-menu-image {background:url(images/menu.png) no-repeat 0 -32px; -webkit-background-size: 29px 64px; background-size: 29px 64px;}
#adminmenu #menu-posts-tribe_events:hover div.wp-menu-image, #adminmenu #menu-posts-tribe_events.wp-has-current-submenu div.wp-menu-image {background-position:0 0;}

/* = Shared CSS Elements
=============================================*/
.invalid input{border: 2px solid red !important;}
.valid input{border: 1px solid green;}
.clearfix {zoom:1; /* For IE */}
.placeholder { cursor: text; padding: 4px 4px 4px 4px; color: #999999; }
input:placeholder, textarea:placeholder { color: #999999; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999; }

/* = Post Type Listing
=============================================*/
.events-cal .tablenav select[name=m], .events-cal #post-query-submit {display:none;}
.fixed .column-start-date, .fixed .column-end-date, .fixed .column-events-cats {width:14%;}
#additional-field-table input, #additional-field-table select, #additional-field-table textarea { width: 200px; }
#additional-field-table tbody tr { height: 72px; }
.view-calendar-link {
	display:inline-block;
    font-weight: normal;
    padding: 0;
    height: 14.5px;
	}
.view-calendar-link-div {
	display: inline-block;
	position: absolute;
	left: 200px;
	margin-top: 18px;
}

/* = Post Type Editing
=============================================*/
.notice {background-color: rgb(255, 255, 224); border: 1px solid rgb(230, 219, 85); margin: 5px 0 15px;}
.bubble {border-color:#dfdfdf; border-width:1px; border-style:solid; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding: 10px; border-style:solid; border-spacing:0; background-color:#F9F9F9;}

.eventForm {margin-top: -20px;}
.eventForm td {padding:0 6px 10px 0; font-size:12px; vertical-align:middle;}
.eventForm #event-meta td { vertical-align: top; }
.eventForm #event-meta td div { margin-bottom: 10px; }
.eventForm #event-meta td div:last-child {margin-bottom: 20px;}
.eventForm select, .eventForm input {font-size:11px;}
.eventForm h4 {font-size:1.2em; margin:1em 0 1em;}
.eventForm h4.event-time {margin-top: 0;}
.tribe-community-event-info {margin: 10px; width:100%;}
.eventtable, #EventInfo{margin:0; padding-top:0; width:100%; }
#event_tickets,
.eventtable.ticket_list.eventForm {table-layout: fixed; }
#ticket_start_date,
#ticket_end_date{width:100px;}
.form-table form input {border:none;}
#submitLabel {display: block;}
#submitLabel input {display: block; padding: 0;}
#EventBriteDetailDiv h4, .tribe-community-event-info h4, .eventForm .tribe_sectionheader h4 {text-transform: uppercase; border-bottom: 1px solid #e5e5e5; padding-bottom: 6px;}
.eventForm .tribe_sectionheader {padding-bottom: 5px !important;}

td.tribe_message {padding-bottom: 10px !important;}

#tribe_thanks {float: left; width: 200px; margin: 5px 0 0 0;}
.tribe_brand {font-weight: normal; margin: 8px 0; font-family: Georgia !important; font-size: 17px !important;}
.eventForm p {margin: 0 0 10px 0!important;}

.tribe-events-error {display:none;}
.tribe-events-multi-event-day {color: #0F81BB;}

.ui-front {z-index: 1000000;}
.ui-widget-overlay.ui-front {z-index: 90; }



/* = Eventbrite
=============================================*/
.tribe-community-event-info small, #EventBriteDetailDiv small {color: #a3a3a3; font-size: 10px;}
#eventBriteTicketing, #mainDonateRow {background: url(images/bg_fade.png) repeat-x top left; background-color: #fff; padding: 10px 15px; border: 1px solid #e2e2e2; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-radius: 3px; margin: -11px 6px 0;}
#eventBriteTicketing h2 {background: url(images/eb_press_little.gif) no-repeat top right; height: 80px; margin: 0;}
.tribe-community-event-info, table.eventForm {width: 100%;}

/* = Recurrence
=============================================*/
#custom-recurrence-weeks label { width: 45px; display: block; float: left; margin-bottom: 3px;}
#custom-recurrence-frequency input { width: 30px; }
#custom-recurrence-years label { width: 50px; display: block; float: left; margin-bottom: 3px;}
#recurrence-changed-row { color: red; display: none; }
#rec-end-error { color: red; }
#rec-days-error { color: red; }
.rec-error { display:none; }
#recurrence-pattern-description { font-style: italic; }
.recurrence-pattern-description-row { display: none; }

/* = Upgrade Screen
=============================================*/
#tribe-upgrade {margin:20px 0 30px; border:1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0 20px 20px; background:#f6f6f6;}
#tribe-upgrade .message {border-style:solid; border-width:1px; padding:6px 12px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#FFFFE0; border-color:#E6DB55;}

/* = Chosen
=============================================*/
.chosen, .tribe-chosen, .chzn-container {margin-right: 10px!important;}
.venue-dropdown, .organizer-dropdown, .events-dropdown, #eventsDefaultState, #defaultCountry, #StateProvinceSelect {width: 220px !important;}
.multi-day-cutoff-dropdown {width: 100px !important;}

/* fix for widgets + chosen support */
.widget-liquid-right .widget, .inactive-sidebar .widget, .widget-liquid-right .sidebar-description {overflow: visible !important;}


/* = Settings Screen
=============================================*/
.tribe-settings-form { max-width: 1000px; }
.tribe-settings-form fieldset {padding: 10px 0; display: inline-block; clear: both;}
.tribe-settings-form legend {width: 220px; margin-right: 20px; float: left; font-weight: bold;}
.tribe-settings-form fieldset.tribe-field-license_key legend { width: auto; }
.tribe-settings-form .tribe-field-wrap {float: left; max-width: 500px;}
.tribe-settings-form .tribe-field-radio label, .tribe-settings-form .tribe-field-checkbox_list label {display: block; margin: 5px 0;}
.tribe-settings-form .tribe-field-radio label input, .tribe-settings-form .tribe-field-checkbox_list label input {margin-right: 5px;}
.tribe-settings-form .tribe-settings-form-wrap fieldset,
.tribe-settings-form .tribe-settings-form-wrap .description,
.tribe-settings-form fieldset[id^="tribe-field-geoloc_"] {padding-left: 12px;}
.tribe-settings-form .tribe-settings-form-wrap fieldset .description {padding-left: 0; margin-left:0; max-width: 450px;}
.tribe-settings-form .tribe-settings-form-wrap h3 {margin-bottom: 10px; background-color: #f9f9f9; padding: 6px 0 6px 12px;}
.tribe-settings-form .tribe-settings-form-wrap h3 ~ h3 {margin-top: 2.25em;}
.tribe-settings-form .tribe-settings-form-wrap h3 + p {margin: 0 0 10px; padding-left: 12px;}
.tribe_settings .tribe-field-indent {margin-left: 245px;}
.tribe_settings #pu_dashboard_message{ display: none;}
.tribe_settings .tribe-errors-list {margin-left: 15px;}
.tribe_settings .expiring-license {color: red;}
.tribe_settings .tribe-error {border: 1px solid #F00;}
.tribe_settings .tribe-field-description {position: relative; top: -12px; margin-bottom: 0;}
.tribe_settings #ical-link {top: -14px;}
.tribe-settings-form #tribe-field-stylesheetOption label { margin-left: 20px;}
.tribe-settings-form #tribe-field-stylesheetOption input { margin-left: -20px; margin-right: 8px;}
.tribe-settings-form #tribe-field-stylesheetOption p.description {color: #999;}
/* Modern Tribe box */
#modern-tribe-info {margin: 20px 0; background-color: #f9f9f9; padding: 8px 20px 12px; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; -o-border-radius: 4px;}
#modern-tribe-info img {margin: 10px 0; width: 250px; height: 18px;}

/* sizes */
.tribe-field-textarea.tribe-size-small textarea {width: 180px; height: 60px;}
.tribe-field-textarea.tribe-size-medium textarea {width: 300px; height: 80px;}
.tribe-field-textarea.tribe-size-large textarea {width: 450px; height: 120px;}

.tribe-field-text.tribe-size-small input, .tribe-field-license_key.tribe-size-small input {width: 50px;}
.tribe-field-text.tribe-size-medium input, .tribe-field-license_key.tribe-size-medium input {width: 225px}
.tribe-field-text.tribe-size-large input, .tribe-field-license_key.tribe-size-large input {width: 450px;}

.tribe-field-dropdown.tribe-size-small select {width: 100px;}
.tribe-field-dropdown.tribe-size-medium select {width: 300px;}
.tribe-field-dropdown.tribe-size-large select {width: 450px;}

.tribe-field-dropdown_chosen.tribe-size-small select {width: 100px;}
.tribe-field-dropdown_chosen.tribe-size-medium select {width: 200px;}
.tribe-field-dropdown_chosen.tribe-size-large select {width: 300px;}

/* license keys */
.ajax-loading-license, .valid-key, .invalid-key {display: none; margin: 0 5px;}
.ajax-loading-license {position: relative; top: 5px;}
.valid-key {color: green;}
.invalid-key {color: red;}

/* additional fields */
#additional-field-table {margin-bottom: 20px;}

/* help tab */
#tribe-help-general, #tribe-help-sidebar {float: left;}
#tribe-help-general {width: 70%;}
#tribe-help-sidebar {width: 25%; max-width: 200px; margin: 20px 0 0 5%;}
#tribe-help-plugin-info {border: 1px solid #CCC; padding: 0 12px;}

/* miscellaneous */
.tribe-admin-box-left {float:left; width: 20%; margin: 20px 0; background-color: #f9f9f9; padding: 0px 20px 15px; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; -o-border-radius: 4px;}
.tribe-admin-box-right {float:right; width: 68%; margin: 20px 0; background-color: #f9f9f9; padding: 0px 20px 15px; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; -o-border-radius: 4px;}
.ajax-loader {float:right; margin: 10px;}
.tribe-arrangeable-item { border: 1px solid lightGrey; -moz-border-radius: 6px; border-radius: 6px; }
.tribe-arrangeable-item .ui-state-default { border:none; }
.tribe-arrangeable-item-top { padding: 6px; }
.tribe-arrangeable-item-top:hover { cursor: move; }
.tribe-arrangeable-action { float:right; }
.tribe-arrangeable-child { display:none; padding: 25px; border-top: 1px solid lightGrey; background-color: #f9f9f9 }
.tribe-arrangeable-child label{margin:0 0 7px 0; display:block;}
.tribe_events_active_filter_type_options {
	margin: 10px 0;
}
.tribe_events_active_filter_type_options label {
	margin: 7px 0;
}
.tribe-settings-form .tribe-settings-form-wrap fieldset .tribe-style-selection{margin-bottom:18px;}

/* = Help Screen
=============================================*/
.tribe-settings-form-wrap p,
.tribe-settings-form-wrap ul {margin-left: 15px;}
.tribe-settings-form-wrap ul {list-style-type: square; margin-left: 35px;}

/* = jQuery UI
=============================================*/
.ui-widget-overlay {background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow {margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.ui-resizable {position: relative;}
.ui-resizable-handle {position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {display: none; }
.ui-resizable-n {cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s {cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e {cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w {cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se {cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw {cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw {cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne {cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-dialog {position: relative; padding: .2em; width: 375px; }
.ui-dialog .ui-dialog-titlebar {padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title {float: left; margin: .1em 0 .2em; }
.ui-dialog .ui-dialog-titlebar-close {position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span {display: block; margin-left: -8px; margin-top: -8px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {padding: 0; }
.ui-dialog .ui-dialog-content {border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane {text-align: right; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em !important; }
.ui-dialog .ui-dialog-buttonpane button {margin: .5em .4em .5em !important; cursor: pointer; padding: .2em .6em .3em; line-height: 1.4em; width:auto; overflow:visible; text-shadow:none; }
.ui-dialog .ui-resizable-se {width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar {cursor: move; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float: none !important; text-align: center;}
.ui-button-text-only .ui-button-text {padding: .4em 1em;}
.ui-button .ui-button-text {display: block; line-height: 1.4;}
.ui-datepicker{font-size:8pt;}
#ui-datepicker-div { display: none; }

#tribe-loading {
	display           : none;
	position          : absolute;
	width             : 100%;
	height            : 100%;
	left              : 0;
	top               : 0;
	background        : #fff;
	background        : rgba(255, 255, 255, 0.8);
	z-index           : 4;
	webkit-transition : all 1s linear;
	-moz-transition   : all 1s linear;
	-o-transition     : all 1s linear;
	-ms-transition    : all 1s linear;
	transition        : all 1s linear;
}

#tribe-loading span {
	position   : absolute;
	width      : 32px;
	height     : 32px;
	left       : 50%;
	top        : 50%;
	margin     : -16px 0 0 -16px;
	background : url(images/tribe-loading.gif) 0 0 no-repeat;
	-webkit-background-size: 32px 32px;
			background-size: 32px 32px;
}

/* = Admin Retina Bits
=============================================*/
@media
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.events-cal #icon-edit {
		background-image: url(images/events-screen-icon@2x.png);
	}
	#adminmenu #menu-posts-tribe_events div.wp-menu-image {
		background-image: url(images/menu@2x.png);
	}
	#tribe-loading span {
		background-image: url(images/tribe-loading@2x.gif);
	}
}
