/* Overlays */
.ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; text-shadow:none; }

/* fixes for listing page */
.edit-php .ui-dialog .ui-dialog-buttonpane button {padding: 0;}
.edit-php .ui-button-text-only .ui-button-text {padding: 5px;}


.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.events-cal #icon-edit {
	background:url(images/events-screen-icon.png) no-repeat 6px 3px;
}
.events-cal .tablenav select[name=m], .events-cal #post-query-submit {
	display:none;
}
.fixed .column-start-date, .fixed .column-end-date, .fixed .column-events-cats {
	width:14%;
}
.eventForm td {
	padding:6px 6px 0 0;
	font-size:11px;
	vertical-align:middle;
}
.eventForm select, .eventForm input {
	font-size:11px;
}
.eventForm h4 {
	font-size:1.2em;
	margin:1em 0 1em;
}
.eventForm h4.event-time {
	margin-top: 0;
}
.notice {
	background-color: rgb(255, 255, 224);
	border: 1px solid rgb(230, 219, 85);
	margin: 5px 0 15px;
}

.bubble{
	border-color:#dfdfdf;
	border-width:1px;
	border-style:solid;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding: 10px;
	border-style:solid;
	border-spacing:0;
	background-color:#F9F9F9;
}
#EventInfo, .eventtable {

	margin: 10px;
	width:100%;
}
.eventtable{
	margin-top:10px;
	padding-top:0;
}
#eventIntro {
/*   margin: 10px 0 25px 0; */
}
.form-table form input {border:none;}
#submitLabel {display: block;}
#submitLabel input {
	display: block;
	padding: 0;
}
#eventDetails h4,
	#EventBriteDetailDiv h4 {
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 6px;
}
.eventForm td {
	padding-bottom: 10px !important;
	padding-top: 0 !important;
}
.eventForm .tribe_sectionheader {
	padding-bottom: 5px !important;
}
#tribe_thanks {
	float: left;
	width: 200px;
	margin: 5px 0 0 0;
}
.tribe_brand {
	font-weight: normal;
	margin: 8px 0;
	font-family: Georgia !important;
	font-size: 17px !important;
}
.eventForm p {
	margin: 0 0 10px 0!important;
}
#eventDetails small,
	#EventBriteDetailDiv small {
	color: #a3a3a3;
	font-size: 10px;
}
#eventBriteTicketing,
	#mainDonateRow {
	background: url(images/bg_fade.png) repeat-x top left;
	background-color: #fff;
	padding: 10px 15px;
	border: 1px solid #e2e2e2;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-radius: 3px;
	margin: -11px 6px 0;
}
#eventBriteTicketing h2 {
	background: url(images/eb_press_little.gif) no-repeat top right;
	height: 80px;
	margin: 0;
}
.eventForm {
	margin-top: -20px;
}
#EventInfo,
	table.eventForm {
	width: 100%;
}
td.tribe_message {
	padding-bottom: 10px !important;
}
.clearfix {zoom:1; /* For IE */}
.tribe-events-error {display:none;}
.tribe-events-multi-event-day {color: #0F81BB;}

#adminmenu #menu-posts-tribe_events div.wp-menu-image {
	background:url(images/menu.png) no-repeat 0 -32px;
}
#adminmenu #menu-posts-tribe_events:hover div.wp-menu-image, #adminmenu #menu-posts-spevents.wp-has-current-submenu div.wp-menu-image {
	background-position:0 0;
}

#sp-upgrade {
	margin:72px 0 30px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:0 20px 20px;
	background:#f6f6f6;
}
#sp-upgrade .message {
	border-style:solid;
	border-width:1px;
	padding:6px 12px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:#FFFFE0;
	border-color:#E6DB55;
}

.invalid input{
	border: 2px solid red !important;
}
.valid input{
	border: 1px solid green;
}
#custom-recurrence-weeks label { width: 45px; display: block; float: left; margin-bottom: 3px;}
#custom-recurrence-frequency input { width: 30px; }
#custom-recurrence-years label { width: 50px; display: block; float: left; margin-bottom: 3px;}
#recurrence-changed-row { color: red; display: none; }
#rec-end-error { color: red; } 
.rec-error { display:none; }

.placeholder { cursor: text; padding: 4px 4px 4px 4px; color: #999999; }
input:placeholder, textarea:placeholder { color: #999999; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999; }

#additional-field-table input, #additional-field-table select, #additional-field-table textarea { width: 200px; }
#additional-field-table tbody tr { height: 72px; }

.tribe_settings #pu_dashboard_message{
display: none;
}