/* Don't forget: this is being loaded on every page. */
@import url(smoothness/jquery-ui-1.7.3.custom.css);

#ui-datepicker-div {
	display:none;
}
.ui-datepicker, .ui-datepicker select, .ui-datepicker input, .ui-datepicker td {
	font-size:11px;
	line-height:15px;
}
.ui-datepicker select, .ui-datepicker option {
	padding:0;
}
.ui-datepicker thead tr th {
	font-size:10px;
}
