.icon32-tickets-attendees {
	background-image : url(images/attendees-screen-icon.png) !important;
}

.tickets_checked{
	opacity: 0.7;
	text-decoration: line-through;

}

.tickets_checked a.tickets_checkin{
	display: none;
}

.column-attendee_id, .column-order_id{
	width: 60px;
}