.icon32-tickets-attendees {
	background-image : url(images/attendees-screen-icon.png) !important;
}

.tickets_checked td {
	opacity         : 0.7;
	text-decoration : line-through;
}

.tickets_checked a.tickets_checkin {
	display : none;
}

.tickets_checked td.column-check_in {
	text-decoration : none !important;
}

a.tickets_uncheckin {
	display : none;
}

.tickets_checked a.tickets_uncheckin {
	display : block;
}

.column-attendee_id, .column-order_id {
	width : 60px;
}

.ticket_list h4 {
	font-size : 16px;
}

.ticket_list tr td {
	font-size   : 15px;
	line-height : 24px;
}

.ticket_list tr td .totals {
	background  : #ACA000;
	color       : #fff;
	font-weight : bold;
	font-size   : 20px;
	text-align  : center;
	width       : 75%;
	height      : 100px;
	padding-top : 40px;
	line-height : 30px;
}