/**
 * The Events Calendar Pro Skeleton Stylesheet
 * (These styles shouldn't override your current theme's styles)
 *
 * You can customize this stylesheet by putting a stylesheet of the same name
 * (tribe-events-pro.css) in the tribe-events/pro/ directory of your theme.
 *
 * @package TribeEventsCalendar
 * @since  1.0
 * @author Modern Tribe Inc.
 *
 */
 
/* = Single Venue Template Styles (Pro Version)
   @ Template: single-venue.php
=============================================*/

.tribe-events-venue-meta {
	padding: 2% 0 4% 0;
}
.tribe-events-venue .tribe-events-map-wrap {
	margin: 0 0 30px 30px; 
	float: right;
	width: 50%;
}

.tribe-events-venue .tribe-events-map-wrap #tribe-events-gmap {
	height: 0 !important;
	padding-top: 50%;
	width: 100% !important;
}

/* Events Loop */
.tribe-events-loop .tribe-events-loop .vevent {
	margin: 0;
}
.tribe-events-loop h2.tribe-events-page-title {
	padding-left: 0;
}
.tribe-events-loop .published {
	margin-top: 0;
}
.tribe-events-loop .entry-title {
	color: #333; 
	text-decoration: none; 
	font-size: 18px;
	margin: 15px 0 6px;
	padding: 0;
	line-height: 1em;
	font-weight: bold;
}


/* = Day Grid Template Styles
   @ Template: day.php
=============================================*/
.tribe-events-day .tribe-events-day-time-slot h5 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin: 2.5em 0 0;
}
.tribe-events-day .tribe-events-day-time-slot .vevent {
	margin-left: 5%;
}


/* = Week Grid Template Styles
   @ Template: week.php
=============================================*/

/* grid structure */
.tribe-events-grid {
	border: 1px solid #bbb;
	font-size: 12px;
	width: 100%;
	position: relative;
	margin: 20px auto 10px;
}

/* grid header */
.tribe-grid-header {
	border-bottom: 1px solid #bbb;
	background-color: #ddd;
}

.tribe-grid-header .column {
	text-align: center;
	text-transform: uppercase;
	padding: .5em 0;
	
}
.tribe-grid-header .column a {
	color: #333;
}


/* columns & structure */
.tribe-grid-body {
	overflow: visible;
}

.tribe-week-grid-hours {
	background-color: #fff;
	position: relative;
	z-index: 20;
}

.tribe-events-grid .column.first,
.tribe-week-grid-hours {
	float: left;
	width: 40px;
	margin-right: -40px;
	border-left: 0;
}

.tribe-grid-allday .column.first,
.tribe-week-grid-hours div {
	height: 60px;
	position: relative;
	bottom: 6px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	line-height: 1.25;
	text-align: center;
}

.tribe-grid-content-wrap {
	width: 100%;
	float: left;
	padding-left: 40px;
}

.tribe-events-grid .tribe-grid-content-wrap .column {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	width: 13.5%;
	text-align: center;
	border-left: 1px solid #bbb;
}

.tribe-grid-body .tribe-grid-content-wrap .column {
	position: relative;
}

.tribe-events-grid .hentry.vevent h3.entry-title {
	color: #333;
	font-size: 12px;
	line-height: 1.25;
	padding: 0;
	margin-top: 0;
	text-transform: none;
	letter-spacing: 0;
	text-align: left;
}
.tribe-events-grid .hentry.vevent a {
 	color: #333;
 	font-size: 12px;
 	line-height: 1.25;
 	padding: 0;
}


/* All day */
.tribe-grid-allday {
	position: relative;
}
.tribe-grid-allday .column {
	min-height: 60px;	
}
.tribe-grid-allday .column.first {
	top: 12px;
}
.tribe-grid-allday .hentry.vevent { 	
	padding:4px;
	margin:0;
}

.tribe-grid-allday .hentry.vevent > div { 
	padding: 8px 6px; 
	width:100%;
	background-color: #e6e6e6;
	background-color: rgba(221, 221, 221, .75);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.tribe-grid-allday .hentry.vevent > div:hover { 
	background-color: #e2e2e2;
	background-color: rgba(221, 221, 221, .85);
}

.tribe-grid-allday .hentry.vevent.tribe-dayspan2 > div {
	width:200%;	
}
.tribe-grid-allday .hentry.vevent.tribe-dayspan3 > div {
	width:300%;
}
.tribe-grid-allday .hentry.vevent.tribe-dayspan4 > div {
	width:400%;
}
.tribe-grid-allday .hentry.vevent.tribe-dayspan5 > div {
	width:500%;
}
.tribe-grid-allday .hentry.vevent.tribe-dayspan6 > div {
	width:600%;
}
.tribe-grid-allday .hentry.vevent.tribe-dayspan7 > div {
	width:700%;
}

/* Actual Event Styles */
.tribe-grid-body .hentry.vevent {
 	width: 100%;
 	padding: 0;
 	overflow: hidden;
}
.tribe-grid-body div[id*="tribe-events-event-"] { 	
 	background-color: #e6e6e6;
 	background-color: rgba(221, 221, 221, .75); 	
 	font-weight: bold; 
 	margin: 4px 4px 0; 
	line-height: 1.25; 
 	padding: 4% 5% 0;
 	cursor: pointer;
 	position: absolute;
 	z-index: 500;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tribe-grid-body div[id*="tribe-events-event-"]:hover {
	z-index: 800;
	background-color: #e2e2e2;
	background-color: rgba(221, 221, 221, .85);
}

/* Tooltip */
.tribe-events-grid div[id*="tribe-events-tooltip-"] {
	text-align: left;
}

/* Specific Classes */
.tribe-week-today {
	background-color: #f9f9f9;
}

/* Week view grid background */
.tribe-week-grid-outer-wrap {
	position: relative;
	z-index: 10;
}
.tribe-week-grid-inner-wrap {
	position: absolute;
	width: 100%;
}
.tribe-week-grid-block {
	height: 60px !important;
	padding:0 !important;
	margin:0 !important;
}
.tribe-week-grid-block div {
	height: 30px; 
	margin-bottom: 30px; 
	border-bottom: 1px dotted #ddd; 
	border-top: 1px solid #ddd;
}


/* = Single Venue Template Styles
   @ Template: single-venue.php
=============================================*/
#tribe-events-content.tribe-events-venue {
	padding: 0;
}

.tribe-events-venue .tribe-events-event-meta {
	border: 0;
}

.tribe-events-venue address.venue-address {
	margin:0 0 2% 0;
}
.tribe-events-venue address.venue-address span {
	display: block;
	margin: 0 0 1% 0;
}

.tribe-events-venue .venue-description p {
	line-height: 1.3;
	margin: 0 0 2% 0;
}
/* = Events Calendar Widget Styles (Sidebar)
   @ Template: calendar-widget.php
=============================================*/
.tribe-events-calendar-widget #tribe-events-calendar-wrap {
	width: 100%;
}
.tribe-events-calendar-widget table.tribe-events-calendar {
	width: 100%;
	table-layout: fixed;
	margin-top: 0;
}
.tribe-view-all-events {
	float: right;
}
.tribe-events-calendar-widget th {
	font-size: 10px;
	background-color: #e8e8e8;
	color: #555;
	width: 14.28%;
}
.tribe-events-calendar-widget td {
	height: auto;
	text-align: center;
}
.tribe-events-calendar-widget td div[id*="tribe-events-daynum-"] {
	padding: 6px 0;
	background-color: #f9f9f9;
}
.tribe-events-calendar-widget div[id*="tribe-events-daynum-"], 
.tribe-events-calendar-widget td a {
	font-size: 10px;
}
.tribe-events-calendar-widget td a.tribe-events-day-has-event {
	color: #06c;
	cursor: default;
}
.tribe-events-calendar-widget .tribe-events-tooltip {
	width: 100px;
	left: 0;
	text-align: left;
	padding: 5px 10px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
	right: 0;
}
.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
	left: 4px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left: auto;
	right: 3px;
}
.tribe-events-calendar-widget h5.entry-title {
	font-size: 11px;
	line-height: 1.5;
	padding: 0;
}

 
/* = Related Events
=============================================*/
.related-events-title {
	color: #666;
}
ul.related-events {
	display: block;
	margin: 0;
}
ul.related-events li {
	display: block;
	min-width: 160px;
	vertical-align: text-bottom;
	position: relative;
	float: left;
	list-style-type: none;
}
.related-event-date {
	font-size: .75em;
	text-transform: uppercase;
}
 
 
/* = Events Countdown Widget
=============================================*/
.tribe-countdown-timer span.tribe-countdown-seconds,
.tribe-countdown-timer span.format, 
.tribe-countdown-timer span.tribe-countdown-complete {
	display: none;
}
div.tribe-countdown-timer {
	text-align: center;
	line-height: 1.5em;
	padding-top: 10px;
}
div.tribe-countdown-number {
	float: left;
	color: #000;
	font-size: 2.4em;
}
span.tribe-countdown-under {
	font-size: 10px;
	color: #666;
	text-transform: uppercase;
	font-weight: 500;
}
div.tribe-countdown-colon {
	float: left;
	color: #666;
	font-size: 1.5em;
	padding: 0 4px;
}
div.tribe-countdown-right {
	float: left;
}
div.tribe-countdown-text {
	clear: both;
}

/* tribe geolocation map area */

#tribe-geo-map-wrapper {
	position      : relative;
	z-index       : 2;
	margin-bottom : 20px;
	border        : 1px solid #ddd;
	padding       : 2px;
	background    : #eee;
}

#tribe-geo-loading {
	display           : none;
	position          : absolute;
	width             : 100%;
	height            : 100%;
	left              : 0;
	top               : 0;
	background        : #fff;
	background        : rgba(255, 255, 255, 0.8);
	z-index           : 4;
	webkit-transition : all 1s linear;
	-moz-transition   : all 1s linear;
	-o-transition     : all 1s linear;
	-ms-transition    : all 1s linear;
	transition        : all 1s linear;
}

#tribe-geo-loading span {
	position   : absolute;
	width      : 32px;
	height     : 32px;
	left       : 50%;
	top        : 50%;
	margin     : -16px 0 0 -16px;
	background : url(images/tribe-loading.gif) 0 0 no-repeat;
}

#tribe-geo-map {
	width    : 100%;
	height   : 400px;
	position : relative;
	z-index  : 3;
}

#tribe-geo-map label {
	width   : auto;
	display : inline;
}

#tribe-geo-map img {
	max-width : none;
}

/* tribe geo location option links (displayed when multiple locations found) */

#tribe-geo-results h2,
#tribe-geo-options h2 {
	color       : #222;
	font-size   : 18px;
	font-weight : bold;
	line-height : 1em;
	margin      : 0 0 6px;
	padding     : 0;
}

#tribe-geo-results h2 a,
#tribe-geo-options h2 a {
	color : #222;
}

#tribe-geo-links {
	margin-top   : 20px;
	border-top   : 1px solid #eee;
	border-right : 1px solid #eee;
	border-left  : 1px solid #eee;
}

#tribe-geo-options {
	display       : none;
	margin-bottom : 20px;
}

.tribe-geo-option-link {
	display            : block;
	text-decoration    : none;
	color              : #444;
	border-bottom      : 1px solid #eee;
	padding            : 3px 6px;
	-webkit-transition : 0.1s ease-in-out;
	-moz-transition    : 0.1s ease-in-out;
	-o-transition      : 0.1s ease-in-out;
	transition         : 0.1s ease-in-out
}

.tribe-geo-option-link:hover {
	background : #f5f5f5;
}

.tribe-geo-option-link:hover,
.tribe-geo-option-link:focus {
	text-decoration : none;
}

.tribe-option-loaded,
.tribe-geo-option-link.tribe-option-loaded:hover {
	background : #666;
	color      : #fff;
}

/* tribe geo location results list formatting */

#tribe-geo-results .event-notices {
	text-align : center;
	margin     : 2.25em 0 0 0;
}

.tribe-geo-result-entry {
	position      : relative;
	overflow      : auto;
	border-bottom : 1px solid #ddd;
	padding       : 2.25em 0;
}

.tribe-geo-result-last {
	border-bottom  : none;
	padding-bottom : none;
}

.tribe-geo-result-thumb {
	float        : left;
	width        : 30%;
	margin-right : 2%;
}

.tribe-geo-result-thumb a {
	display            : block;
	border             : 1px solid #ddd;
	padding            : 2px;
	background         : #eee;
	-webkit-transition : 0.1s ease-in-out;
	-moz-transition    : 0.1s ease-in-out;
	-o-transition      : 0.1s ease-in-out;
	transition         : 0.1s ease-in-out
}

.tribe-geo-result-thumb a:hover {
	border     : 1px solid #ccc;
	background : #ddd;
}

.tribe-geo-result-thumb a img {
	max-width : 100%;
	width     : 100%;
	display   : block;
}

.tribe-geo-result-data {
	float : right;
	width : 68%;
}

.tribe-geo-result-date {
	display        : block;
	font-size      : 16px;
	font-style     : italic;
	margin         : 10px 0 0 0;
	text-transform : none;
}

.tribe-geo-result-venue {
	display   : block;
	margin    : 10px 0 0 0;
	font-size : 16px;
}

.tribe-geo-result-excerpt {
	margin : 10px 0 0 0;
}

.tribe-geo-result-entry .tribe-geo-result-excerpt p {
	font-size : 14px;
}

.tribe-geo-result-entry h2 {
	float : left;
	width : 80%;
}

.tribe-geo-result-cost {
	width : 18%;
	float : right;
}

.tribe-geo-result-cost span {
	display       : block;
	font-weight   : bold;
	padding       : 8px 10px;
	border        : 1px solid #ddd;
	background    : #eee;
	overflow      : hidden;
	white-space   : nowrap;
	text-overflow : ellipsis;
	text-align    : center;
}

#ajax-loading-mini {
	display : none;
}

.timer {
	text-align : center;
	width      : 100%;
	color      : red;
	margin     : 20px 0;
}

.tribe_map_paged {
	display : none;
}
