/**
 * The Events Calendar Pro Tribe Theme Stylesheet
 *
 * To add your own custom styles, create a stylesheet with the name
 * tribe-events-pro.css in the tribe-events/pro/ directory of your theme.
 * Your new stylesheet will be loaded after our own stylesheet.
 *
 * To replace our stylsheet altogether, you can use the 'tribe_events_pro_stylesheet_url' filter.
 *
 * @package TribeEventsCalendarPro
 *
 */

/* = Global & Miscellaneous Styles
=============================================*/

/* Tribe Theme Color */
.tribe-events-grid .type-tribe_events a {
	color: #21759b;	
}

.tribe-events-grid .tribe-grid-header .tribe-week-today {
 	background-color: #21759b;
}

.tribe-grid-allday .type-tribe_events > div,
.tribe-grid-body .type-tribe_events .tribe-events-week-hourly-single,
.tribe-grid-allday .type-tribe_events > div:hover,
.tribe-grid-body .type-tribe_events .tribe-events-week-hourly-single:hover {
	background-color: #21759b;
	background-color: rgba(33, 117, 155, .75);
	border-color: #1b607f;
}

.tribe-grid-allday .type-tribe_events > div:hover,
.tribe-grid-body .type-tribe_events .tribe-events-week-hourly-single:hover {
	background-color: rgba(33, 117, 155, .9);
}

.tribe-events-grid .type-tribe_events a {
 	color: #fff;	
}

.tribe-events-day .tribe-events-day-time-slot .type-tribe_events {
	margin-left: 0;
}

/* = Week Grid Template Styles
   @ Template: week.php
=============================================*/
/* grid structure */
.tribe-events-grid {
	border: 0;
	border-bottom: 1px solid #d2d2d2;
	margin: 0 auto .6em;
}

.slimScrollDiv {
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
}

/* grid header */
.tribe-grid-header {
	border-bottom: 0;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	background-color: #666;
	font-weight: bold;
}

.tribe-events-grid .type-tribe_events {
	padding:4px;
}

.tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
	border-left-color: #666;
}

.tribe-grid-header .column span {
	color: #fff;
}

/* columns & structure */
.tribe-events-grid .tribe-grid-content-wrap .column {
	border-left-color: #d2d2d2;
}

/* All day */
.tribe-grid-allday {
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
}

/* Tooltip */
.tribe-grid-body .tribe-events-tooltip .tribe-events-arrow {
	width: 7px;
	height: 20px;
	background-position: -30px 0;
	left: -19px;
}
.tribe-grid-body .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	right: -19px;
	background-position: -22px 0;
}

/* Week view grid background */
.tribe-week-grid-block div { 
	border-top-color: #d2d2d2;
}

/* = Map View Template Styles 
   @ Template: map.php
=============================================*/
/* tribe geolocation map area */
.tribe-bar-is-disabled.events-list .tribe-events-loop {
	max-width: none;
}

#tribe-geo-results {
	margin-top: 2em;
}

.tribe-events-map #tribe-events-header {
	position: relative;
}

.tribe-events-map #tribe-events-header li {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.tribe-events-map #tribe-events-header li a {
	display: none !important;
}

#tribe-events-header .tribe-events-ajax-loading {
	top: -8px;
}

/* = Single Venue Template Styles (Pro Version)
   @ Template: single-venue.php
=============================================*/
.tribe-events-venue .tribe-events-map-wrap {
	margin: 5px 0 30px 30px;
	float: right;
	width: 50%;
	background: #eee;
	padding: 5px;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
			border-radius: 3px;
}

.tribe-events-venue .tribe-events-venue-meta {
	margin: 0;
	padding: 1em;
	border-bottom: 0;
}

.tribe-events-venue-meta address {
	font-style: italic;
	font-weight: normal;
}

/* = Single Organizer Template Styles (Pro Version)
   @ Template: single-organizer.php
=============================================*/
.tribe-events-organizer .tribe-events-organizer-meta {
	max-width: 700px;
	margin: 0 auto;
	border-bottom: 0;
}

.tribe-events-organizer .tribe-events-divider {
	display: inline-block;
	font-weight: normal;
}

/* = Photo View Template Styles 
   @ Template: photo.php
=============================================*/
#tribe-events-photo-events {
	margin-top: 23px;
}

.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap {
	border: 0;
	background: #f6f6f6;
}

/* Tile Styling */
.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap:hover {
	background: #fff;
}

.tribe-events-loop .tribe-events-photo-event .tribe-events-list-event-description  {
	margin-top: .5em;
}

.tribe-events-photo #tribe-events-content .tribe-events-list-event-description p {
	line-height: 1.45;
}

.tribe-events-photo .tribe-events-loop .type-tribe_events .tribe-events-event-meta {
	margin: 0;
	padding-right: 0;
}

.tribe-events-list #tribe-events-photo-events .tribe-events-event-details h2 {
	font-size: 21px;
	line-height: 1.35;
	margin-bottom: .35em;
}

.tribe-events-photo .tribe-events-loop .tribe-events-event-meta .recurringinfo {
	padding-left: 0;
}

.tribe-events-photo #tribe-events-header li a {
	display: none !important;
}

/* = Related Events
   @ Template: single-event.php
=============================================*/
.tribe-events-single ul.tribe-related-events {
	margin-bottom: 6%;
} 

.tribe-events-single ul.tribe-related-events li {
	margin-bottom: 0;
	font-size: 12px;
	background: transparent;
	border: 0;
}

.tribe-events-single ul.tribe-related-events li .tribe-related-event-info {
	padding: 1em 0 0;
	line-height: 1.25;
}

.tribe-events-single ul.tribe-related-events .tribe-related-events-thumbnail img {
	box-shadow: none;
	border-radius: 0;
}

.tribe-events-single ul.tribe-related-events .tribe-related-events-title {
	margin-bottom: .5em;
	font-size: 14px;
	font-weight: bold;
}

.tribe-events-single ul.tribe-related-events .tribe-events-event-schedule-details {
	padding-right: 4px;
}
