/**
 * The Events Calendar Tribe Theme Stylesheet
 *
 * You can customize this stylesheet by putting a stylesheet with the name
 * tribe-events.css in the tribe-events/ directory of your theme.
 *
 * @package TribeEventsCalendar
 * @since  3.0
 * @author Modern Tribe Inc.
 *
 */

/* = Global & Miscellaneous Styles
=============================================*/

/* Tribe Theme Color */
#tribe-events-content .tribe-events-tooltip h4.entry-title,
#tribe_events_filters_wrapper .tribe_events_slider_val {
	color: #21759b;
}

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], 
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-button.tribe-active:hover {
	background-color: #21759b;
}

#tribe_events_filters_wrapper input[type=submit]:hover,
.tribe-events-button.tribe-active:hover {
	background-color: #0f3647;
}

.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-button.tribe-active:hover {
	color:#fff;
}

#tribe_events_filters_wrapper h3 span:after { 	
	border-top-color: #21759b;
}

#tribe_events_filters_wrapper .tribe_events_filter_item.closed h3 span:after {
	border-left-color: #21759b;
}

/* Important Link Styles */
ul.tribe-events-sub-nav a,
.tribe-events-back a, 
.tribe-events-list-widget .tribe-events-widget-link a, 
.tribe-events-adv-list-widget .tribe-events-widget-link a {
	font-size: 15px;
	font-weight: bold;
}

/* Event Schedule Detail Styling */
.tribe-divider {
	display: none;
}

/* General Template Headers */
h2.tribe-events-page-title {
	font-size: 30px;
	color: #666;
	font-weight: bold;
}

/* General Template Header/Footer Nav */
#tribe-events-header .tribe-events-sub-nav li,
#tribe-events-header .tribe-events-sub-nav .tribe-nav-next a {
 	display: none;
}
#tribe-events-header .tribe-events-sub-nav .tribe-nav-next {
 	display: block;
}

#tribe-events-header .tribe-ajax-loading {
	top: -12px;
}


/* = List View Template Styles
   @ Template: list.php
=============================================*/
.tribe-events-list .vevent.hentry {
	border-bottom: 0;
	padding: 1.5em 0;
}

.tribe-events-list .vevent.hentry h2 {
	font-size: 1.6em;
}

/* Cost */
.tribe-events-list .tribe-events-event-cost span {
	background: #f6f6f6;
	color: #666;
	border-color: #d2d2d2;
}

/* Date Seperators */
.tribe_list_separator_year {
	font-size: 28px;
	padding-top: 1.25em;

}

.tribe_list_separator_year + .tribe_list_separator_month {
	margin-top: .25em;
}

.tribe_list_separator_month {
	text-transform: none;
	font-size: 24px;
	color: #666;
	margin: 1.25em auto;
	text-align: center;
	position: relative;
	background-color: transparent;
	z-index: 1;
}

.tribe_list_separator_month:after {
	content: '';
	border-bottom: 1px solid #c2c2c2;
	height: 1px;
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;
}

.tribe_list_separator_month span {
	background-color: #fff;
	padding: 0 7.5%;
}

.tribe_list_separator_month + .vevent.hentry.tribe-first {
	padding-top: 1.5em;
}

.tribe-events-list .vevent.hentry.tribe-event-end-month {
	padding-bottom: 1.5em;
}

/* Meta */
.tribe-events-loop .tribe-events-event-meta {
	margin-bottom: 1em;
	font-size: 13px;
}

.tribe-events-list .tribe-events-loop .tribe-events-event-meta .recurringinfo {
	padding-left: 1em;
	font-weight: normal;
}

.tribe-events-list .time-details,
.tribe-events-list .tribe-venue-details {
	line-height: 1.2;
}

.tribe-events-list .tribe-venue-details,
.tribe-events-event-meta address.event-address {
	font-weight: normal;
	font-style: italic;
}


/* = List View & Single Venue (Pro Version) Template Styles
   @ Template: list.php & single-venue.php
=============================================*/
/* Loop */
.tribe-events-loop {
	max-width: 700px;
	margin: 0 auto;
}


/* = Calendar Styles (includes styles for both large & small calendars)
   @ Template: calendar.php & calendar-widget.php
=============================================*/
/* Global Calendar Styles */
#tribe-events-content .tribe-events-calendar td {
	border: 1px solid #d2d2d2;
	border-top: 0;
}
#tribe-events-content table.tribe-events-calendar {
	border-bottom: 1px solid #d2d2d2;
	border-top: 0;
}
.tribe-events-calendar div[id*="tribe-events-daynum-"], 
.tribe-events-calendar div[id*="tribe-events-daynum-"] a {
	background-color: #b2b2b2;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"], 
.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a {
	background-color: #e0e0e0;
	color: #fff;
}


/* Global Tooltips */
.tribe-events-calendar .tribe-events-tooltip,
.tribe-events-week .tribe-events-tooltip, 
.recurring-info-tooltip {
	border: 0;
	background-color: #fff;
	color: #606060;
	padding: .75em 1em 1.15em;
	-webkit-box-shadow: 3px 4px 21px rgba(0,0,0,.38);
	   -moz-box-shadow: 3px 4px 21px rgba(0,0,0,.38);
			box-shadow: 3px 4px 21px rgba(0,0,0,.38);
}
.tribe-events-tooltip .tribe-events-arrow {
	width: 20px;
	height: 7px;
	background-image: url(images/tribe-theme/tribe-theme-tooltips.png);
	-webkit-background-size: 37px 20px;
    		background-size: 37px 20px;
	bottom: -7px;
}

/* Large Calendar Specifics */
.events-archive.events-gridview #tribe-events-content table .vevent {
	border-bottom: 1px solid #e0e0e0;
}
.events-archive.events-gridview #tribe-events-content table .tribe-last {
	border-bottom: 0;
}
.tribe-events-calendar th {
	background-color: #666;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0;
	padding: 1em 0;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}
.tribe-events-calendar td div[id*="tribe-events-daynum-"] {
	padding: 4px 9px 6px;
}

/* Large Calendar Tooltip Specifics */
#tribe-events-content .tribe-events-tooltip h4.entry-title {
	margin: 0;
	background-color: transparent;
	font-size: 18px;
	padding: 0;
	letter-spacing: 0;
	font-weight: bold;
}
.tribe-events-tooltip .tribe-events-event-body {
	font-size: 11px;
	padding: 0;
}
.tribe-events-tooltip .duration {
	font-style: normal;
	font-weight: bold;
	margin: 0;
	padding: .4em 0 .5em;
}
.tribe-events-tooltip .tribe-events-event-thumb {
	padding: .85em 1em 0 0;
}
.tribe-events-tooltip p.entry-summary {
	font-size: 13px;
	padding-top: .5em;
}




/* = Events Filter Styles
=============================================*/
.tribe-events-filter-view #tribe_events_filters_wrapper {
	width: 26.6%; 
	padding: 0 5.32% 15px 0;
}

.tribe-events-filter-view #tribe-events-content {
	width: 68.08%;  
}

.tribe-events-filter-view .tribe-events-filter_content {
	background-color: #f6f6f6;
	padding: 2em 1.5em;
}

.tribe_events_filter_item {
	padding-bottom: .4em;
	border-bottom: 0;
}

#tribe_events_filters_wrapper h3 {    
	margin-bottom: 1em;
	text-transform: uppercase;
	color: #b2b2b2;
}

#tribe_events_filters_wrapper .tribe_events_filter_item.closed h3 span:after {
	border-top-color: transparent;
}


/* Events Retina Bits */
@media 
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.tribe-events-tooltip .tribe-events-arrow {
		background-image: url(images/tribe-theme/tribe-theme-tooltips@2x.png);
	}
}