/**
 * The Events Calendar & Events Calendar Pro Full Stylesheet
 * (Some of these styles may override your current theme's styles)
 *
 * You can customize this stylesheet by putting a stylesheet of the same name
 * (tribe-events.css) in the tribe-events/ directory of your theme.
 *
 * @package TribeEventsCalendar
 * @since  1.0
 * @author Modern Tribe Inc.
 *
 */

/* = Global & Miscellaneous Styles
=============================================*/
/* Specify Font Family */
#tribe-events-calendar-header, 
.tribe-events-calendar, 
#tribe-events-content .ical, 
.events-single #content .ical, 
a.gmap,
.tribe-events-event-list-meta td, 
.tribe-events-nav, 
#tribe-events-event-meta, 
span.back, 
.eventsListWidget .dig-in, 
.eventsAdvancedListWidget .dig-in, 
.gcal-add {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

/* Links */
#tribe-events-content a, 
#tribe-events-event-meta a {
	text-decoration: none;
}

/* Important Link Styles */
.tribe-events-month-nav a, 
.tribe-events-nav a, 
.back a, 
.eventsListWidget .dig-in a, 
.eventsAdvancedListWidget .dig-in a {
	color: #888;
	text-decoration: none;
}
.tribe-events-month-nav a:hover, 
.tribe-events-nav a:hover, 
.back a:hover, 
.eventsListWidget .dig-in a:hover, 
.eventsAdvancedListWidget .dig-in a:hover {
	text-decoration: underline;
}

/* Calendar Add Buttons */
a.ical,
a.gcal-add {
	color: #fff;
	font-size: 10px;
	background: #777;
	padding: 0 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	line-height: 18px;
	margin-bottom: 21px;	
}
.gcal-add {
	margin-right: 9px;
}

/* Google Maps */
#tribe-events-event-meta .gmap, 
.tribe-events-event-meta-desc .gmap {
	color: #fff;
	font-size: 9px;
	background: #004080;
	padding: 1px 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
}

/* Fixes for rich snippets */
.event .entry-title {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: inherit;
}

.updated-info {
	text-indent: -9999px;
	height: 0;
}

/* 2011 Theme Extra Calendar Room */
.events-archive .entry-content, 
.events-archive .entry-header { width: 98%; }
.events-archive .tribe-events-event-entry { width: 60%; }

/* Event Notices */
.event-notices {
    background: #d9edf7;
    border: 1px solid #bce8f1;
    color: #3a87ad;
    margin: 10px 0 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Promotional Styles */
p.tribe-promo-banner {
	font-size: 12px;
	color: #999;
}
p.tribe-promo-banner a {
	color: #666;	
}

/* Miscellaneous */
.clearfix:before, .clearfix:after {content: ""; display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
.tribe-clear {clear: both;}
.tribe-events-visuallyhidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.tribe-events-error {display:none;}
.tribe-events-multi-event-day {color: #0f81bb;}

/* IE7 Tweaks */
*+html .events-archive h2.tribe-events-cal-title {
	padding-bottom: 30px;
}
*+html .events-archive .upcoming h2.tribe-events-cal-title {
	padding-bottom: 0;
}
*+html #tribe-events-calendar-header {
	margin-bottom: 30px;
}


/* = Calendar View & List View Template Styles
   @ Template: calendar.php & list.php
=============================================*/
#tribe-events-content {
	position: relative;
	margin-bottom: 48px;
	padding: 1px 20px;
}
#tribe-events-content {
	font-size: 16px;
}
.events-archive.events-list .hentry,
.events-archive.events-gridview .hentry {
	margin: 0;
	padding: 0 0 15px 0;
}

/* Header */
#tribe-events-calendar-header {
	position: relative;
	height: 15px;
}
.tribe-events-calendar-buttons {
	position: absolute;
	right: 0;
	top: 6px;
}
h2.tribe-events-cal-title a {
	color: #000;
}
h2.tribe-events-cal-title a:hover, 
h2.tribe-events-cal-title a:focus {
	color: #333;
	text-decoration: underline;
}
.tribe-events-calendar-buttons a {
	background: #999;
	color: #fff;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	margin: 21px 0 24px 10px;
	padding: 0 9px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.tribe-events-calendar-buttons a.tribe-events-button-on {
	background: #666;
}
.tribe-events-calendar-buttons a.tribe-events-button-off {
	background: #ddd;
	color: #444;
}


/* = Calendar View Template Styles
   @ Template: calendar.php
=============================================*/
/* Header */
.grid #tribe-events-calendar-header {
	height: 50px;
}
h2.tribe-events-cal-title {
	padding-left: 20px;
	margin-bottom: 0;
	font-size: 21px;
	font-weight: bold;
	color: #000;
	position: relative;
	z-index: 0;
}
.tribe-events-month-nav {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
}
.tribe-events-prev-month {
	margin-right: 5px;
}
.tribe-events-next-month {
	margin-left: 5px;
}
select.tribe-events-dropdown {
	width: auto;
	font-size: 11px;
	margin: 33px 9px 0 0;
}
#tribe-events-events-picker, 
#tribe-events-picker {
	display: inline;
}


/* = List View Template Styles
   @ Template: list.php
=============================================*/
#tribe-events-content.upcoming {
	margin-bottom: 60px;
}

/* Header */
.upcoming .tribe-events-calendar-buttons {
	top: -24px;
}
.upcoming h2.tribe-events-cal-title {
	margin-bottom: 15px;
}

/* Navigation */
.events-archive #tribe-events-nav-below {
	margin: 21px 0;
}
.navlink{
	width: 30%;
	padding-bottom: 10px;
}
#tribe-events-nav-below .tribe-events-nav-previous {
	float: left;
}
#tribe-events-nav-below .tribe-events-nav-next {
	float: right;
}


/* = List View & Single Venue (Pro Version) Template Styles
   @ Template: list.php & single-venue.php
=============================================*/
/* Loop */
#tribe-events-loop {
	font-size: 13px;
	clear: both;
}
#tribe-events-loop .tribe-events-event {
	border-bottom: 1px solid #ddd;
	padding: 2.25em 0;
	overflow: auto;
}
#tribe-events-loop .tribe-last {
	border-bottom: 0;
}
.tribe-events-events .tribe-events-event-entry {
	width: 60%;
	float: left;
	padding: 0 5% 0 0;
}
.events-archive .tribe-events-event-entry p, 
.venue-events .tribe-events-event-entry p {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
}
.single-tribe_venue .upcoming .entry-title, 
.events-archive .upcoming .entry-title {
	margin: 15px 0 6px;
	font-size: 18px;
	font-weight:bold;
	line-height: 1em;
	padding: 0;
}
.events-archive .event-day, 
.single-tribe_venue .event-day, 
.venue-events .event-day {
	font-size: 18px;
	margin-top: 0;
	font-style: italic;
}
.events-archive .entry-title a, 
.tribe-events-event-meta-desc, 
.tribe-events-event-day {
	color: #333;
}

/* Event Meta Info */
.tribe-events-events .tribe-events-event-list-meta {
	float: right;
	border-left: 1px solid #ccc;
	padding: 0 0 0 4%;
	width: 30%;
	font-size: 12px;
	margin-bottom: 20px;
}
.tribe-events-event-list-meta table {border-collapse: collapse; border: 0;}
.tribe-events-event-list-meta tr { border: 0; }
.tribe-events-event-list-meta td {
	vertical-align: top;
	padding: 0 0 4px 0;
	text-align: left;
	border: 0;
	background-color: white;
}
.tribe-events-event-meta-desc {
	font-weight: bold;
	padding-right: 12px;
	width: 64px;
}


/* = Single Venue Template Styles (Pro Version)
   @ Template: single-venue.php
=============================================*/
.venue-events .tribe-events-event {
	margin: 0;
}
.venue-events h2.tribe-events-cal-title {
	padding-left: 0;
}
.venue-events .event-day {
	margin-top: 0;
}
.venue-events .entry-title {
	color: #333; 
	text-decoration: none; 
	font-size: 18px;
	margin: 15px 0 6px;
	padding: 0;
	line-height: 1em;
	font-weight: bold;
}


/* = Single Event Template Styles
   @ Template: single-event.php
=============================================*/
.tribe-events-event .entry img.attachment-post-thumbnail {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

/* Eventbrite */
#eventbrite-embed {
	width: 100%;
	min-height: 225px;
	margin: 24px 0;
}

/* Navigation */
.tribe-previous{
	float:left;
	clear:both;
}
.tribe-next{
	float:right;
	text-align:right;
}


/* = Single Event & Single Venue (Pro Version) Template Styles
   @ Template: single-event.php & single-venue.php
=============================================*/
/* Back Button */
span.back {
	font-size: 12px;
}

/* Event Meta */
#tribe-events-event-meta {
	border-width: 1px 0;
	border-style: solid;
	border-color: #bbb;
	margin: 8px 0 18px 0;
	padding: 12px 0 2px;
	overflow: hidden;
	clear: both;
	font-size: 12px;
}
#tribe-events-event-meta .column {
	float: left;
	width: 30%;
	padding: 0 4% 0 0;
	text-align: left;
	margin: 0;
}
#tribe-events-event-meta dt {
	float: left;
	clear: left;
	font-weight: bold;
	width: 70px;
}
#tribe-events-event-meta dd {
	padding: 0;
	margin-left: 80px;
	margin-bottom: 10px;
}


/* = Calendar Styles (includes styles for both large & small calendars)
   @ Template: calendar.php & calendar-widget.php
=============================================*/
/* Global Calendar Styles */
table.tribe-events-calendar {
	margin: 18px 0 12px;
	clear: both;
	font-size: 12px;
	border-collapse: collapse;
}
table.tribe-events-calendar, 
.tribe-events-calendar td {
	border: 1px solid #bbb;
}
.tribe-events-calendar .daynum, 
.tribe-events-calendar .daynum a {
	background-color: #f5f5f5;
	color: #333;
	font-size: 11px;
	font-weight: bold;
}
.tribe-events-calendar td.tribe-events-present .daynum, 
.tribe-events-calendar td.tribe-events-present .daynum > a  {
	background-color: #666;
	color: #fff;
}
.tribe-events-calendar td.tribe-events-past .daynum, 
.tribe-events-calendar td.tribe-events-past .daynum > a {
	color: #999;
}
.tribe-events-calendar td {
	height: 110px;
	width: 14.28%;
	color: #114b7d;
	vertical-align: top;
	padding: 0;
	font-size: 12px;
}

/* Global Tooltips */
.tribe-events-calendar .tribe-events-tooltip {
	border: 1px solid #666;
	position: absolute;
	z-index: 1001;
	bottom: 30px;
	left: 3px;
	width: 320px;
	background-color: #f9f9f9;
	color: #333;
	line-height: 1.4;
}
.tribe-events-tooltip .tribe-events-arrow {
	width: 19px;
	height: 11px;
	display: block;
	background: url(images/tooltip-arrow.png) no-repeat 0 bottom;
	position: absolute;
	bottom: -11px;
	left: 20px;
}
.tribe-events-calendar .tribe-events-right .tribe-events-tooltip {
	left: auto;
	right: 3px;
}
.tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left: auto;
	right: 30px;
}

/* Large Calendar Specifics */
.events-archive.events-gridview table .tribe-events-event {
	margin: 0;
	padding: 6px 9px;
	border-bottom: 0;
}
.tribe-events-calendar th {
	width: 250px;
	height: 10px;
	background-color: #ddd;
	color: #333;
	padding: 4px 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.tribe-events-calendar td .tribe-events-event {
	padding: 6px 9px;
	line-height: 1.2;
}
.tribe-events-calendar td a {font-size: 91.7%;}
.tribe-events-calendar hr {
	border: 0;
	display: block;
	height: 1px;
	background-color: #e7e7e7;
	margin: 0 9px;
}
.tribe-events-calendar .tribe-events-event {
	position: relative;
	margin: 0;
}
.tribe-events-real-event {
   cursor: pointer;
}

/* Large Calendar Tooltip Specifics */
.tribe-events-tooltip .tribe-events-event-title {
	margin: 0;
	color: #fff;
	background-color: #666;
	font-size: 12px;
	padding: 0 6px;
	min-height: 24px;
	line-height: 24px;
	letter-spacing: 1px;
}
.tribe-events-tooltip .tribe-events-event-body {
	font-size: 11px;
	padding: 3px 6px 6px;
}
.tribe-events-tooltip .tribe-events-event-date {
	font-style: italic;
	margin: 3px 0;
}
.tribe-events-tooltip .tribe-events-event-thumb {
	float: left;
	padding: 5px;
}


/* = Events Calendar Widget Styles (Sidebar)
   @ Template: calendar-widget.php
=============================================*/
.widget #calendar_wrap {
	width: 100%;
}
table.tribe-events-calendar-widget {
	width: 100%;
	table-layout: fixed;
	margin-top: 0;
}
.tribe-view-all-events {
	float: right;
}
.tribe-events-calendar-widget th {
	font-size: 10px;
	background-color: #e8e8e8;
	color: #555;
	width: 14.28%;
}
.tribe-events-calendar-widget td {
	height: auto;
	text-align: center;
}
.tribe-events-calendar-widget td .tribe-events-event {
	padding: 6px 0;
	background-color: #f9f9f9;
}
.tribe-events-calendar-widget .daynum, 
.tribe-events-calendar-widget td a {
	font-size: 10px;
}
.tribe-events-calendar-widget td a.tribe-events-mini-has-event {
	color: #06c;
	cursor: default;
}
.tribe-events-calendar-widget .tribe-events-tooltip {
	width: 100px;
	left: 0;
	text-align: left;
	padding: 5px 10px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
	right: 0;
}
.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
	left: 4px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left: auto;
	right: 3px;
}
.tribe-events-calendar-widget h5 a {
	font-size: 11px;
}


/* = Events List Widget Styles (Sidebar)
   @ Template: list-widget.php
=============================================*/
.eventsListWidget li, 
.singular.page li.hentry, 
.eventsAdvancedListWidget li, 
.singular.page li.hentry {
	margin: 6px 0;
	padding: 0 0 10px 0;
}


/* = Events Navigation Bar
   @ Template: /modules/bar.php
=============================================*/

/*
chosen for select
add pagination to top as well for lists.php
merge in views-hooks? (ask Paul/Tim about merging views-hooks)
placeholders js bit
jquery drop down for mobile / and putting views into select

*/

#tribe-events-bar {
	width: auto;
	background-color: #eee;
	overflow: auto;
	border: 1px solid #bbb;
	padding: 4px;
}

#tribe-events-bar-filters,
#tribe-events-bar-views,
#tribe-events-bar-form .tribe-events-bar-filter-wrap,
#tribe-events-bar-views ul,
#tribe-events-bar-views li {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

/* Bar Filters */
#tribe-events-bar-filters {
	
}

#tribe-events-bar-form .tribe-events-bar-filter-wrap {
	
}

#tribe-events-bar-form input[type="text"] {
	padding: 3px;
	margin: 0 2px;
	height: 24px;
	width: 124px;
}

#tribe-events-bar-form input[type="submit"] {
	background-color: #666;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 0 3px;
	padding: 6px 9px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	line-height: normal;
	cursor: pointer;
}

#tribe-events-bar-form input[type="submit"]:hover {
	background-color: #ddd;
}

/* See Date Filter Datepicker styles below */

/* Bar Views */
#tribe-events-bar-views {
	float: right;
}
#tribe-events-bar-views ul {
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
}

#tribe-events-bar-views li {
	padding: 0 2px;
}

#tribe-events-bar-views li a {
	background-color: #ddd;
	color: #444;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 6px 9px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#tribe-events-bar-views li a:hover {
	text-decoration: none;
}

#tribe-events-bar-views li a.active {
	background-color: #666;
	color: #fff;
}


/* Date Filter Datepicker styles */
/*!
 * jQuery UI CSS Framework 1.8.24
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * NOTE: This has been modified a bit from the default jQuery UI styles
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*!
 * jQuery UI CSS Framework 1.8.24
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * NOTE: This has been modified a bit from the default jQuery UI styles
 *
 */

/* Component containers
----------------------------------*/
.ui-widget { font-size: 1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background-color: #fff; color: #222; }
.ui-widget-content a { color: #222; }
.ui-widget-header { border: 1px solid #aaa; background-color: #ccc; color: #222; font-weight: bold; }
.ui-widget-header a { color: #222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background-color: #e6e6e6; font-weight: normal; color: #555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #ccc; background-color: #ccc; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaa; background-color: #fff; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #bbb; background: #afacac; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/datepicker/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/datepicker/ui-icons_666666_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/datepicker/ui-icons_454545_256x240.png); }

/* positioning */
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { background-color: #aaa; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background-color: #aaa; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*!
 * jQuery UI Datepicker 1.8.24
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 14em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; text-align: center; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: center; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}


/* = Deprecated / Not Applicable Anymore
=============================================*/
/*
#tribe-events-nav-above {
	margin: 5px 0 0;
}

.events-archive .post {
	overflow: hidden;
	margin-bottom: 0;
}

.tribe-events-event .post {
	position: relative;
}

h4.tribe-events-event-day {
	font-weight: bold;
	font-size: 18px;
	margin: 12px 0 -3px;
	clear: both;
}

h4.tribe-events-event-day + .post .entry-title {
	margin-top: 6px;
}

.view-larger-map {
	font-size: 13px;
	text-align: right;
	margin-bottom: 1em;
	line-height: 16px;
}

.previous {
	float: left;
	clear: both;
	background-color: red;
}

.next {
	float: right;
	text-align: right;
	background-color: yellow;
}

.events_calendar_widget h4.cal-header {
	margin: 12px 0 0;
}

.singular .tribe-events-event.hentry {
	padding-top: 1em;
}
*/