/* -----------------------------------------------------------------------------
 * Button - Global
 * ----------------------------------------------------------------------------- */

@define-mixin button-global {
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: auto;
	padding: 0;
	text-decoration: none;
	width: auto;
}

/* -----------------------------------------------------------------------------
 * Button - Solid
 * ----------------------------------------------------------------------------- */

@define-mixin button-solid {
	@mixin desktop-body-2-bold;
	@mixin button-global;

	color: var(--color-background);
	text-align: center;
	transition: var(--transition-background-color);
}

/* -----------------------------------------------------------------------------
 * Button - Border
 * ----------------------------------------------------------------------------- */

@define-mixin button-border {
	@mixin button-global;

	border: 1px solid var(--color-border-default);
	transition: var(--transition-color-border-color);

	&:active {
		border-color: var(--color-border-active);
	}
}
