/* -----------------------------------------------------------------------------
 * Selects
 * ----------------------------------------------------------------------------- */

@define-mixin form-control-select-button-mobile {
	@mixin desktop-body-2-bold;

	border: 1px solid var(--color-border-default);
	padding: 12px 40px 12px 18px;
	position: relative;
	text-align: left;
	width: 205px;
}

@define-mixin form-control-select-button-desktop {
	padding: 16px 44px 16px 18px;
	width: 220px;
}

@define-mixin form-control-select-button-icon-mobile {
	background-image: svg-inline(dropdown);
	content: '';
	height: 6px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
}

@define-mixin form-control-select-button-icon-desktop {
	right: 18px;
}

@define-mixin form-control-select-list-mobile {
	background-color: var(--color-background);
	border: 1px solid var(--color-border-default);
	box-shadow: var(--box-shadow-default);
	left: 0;
	position: absolute;
	top: 55px;
	width: 205px;
}

@define-mixin form-control-select-list-desktop {
	width: 220px;
}

@define-mixin form-control-select-list-item {
	@mixin desktop-body-2;

	color: var(--color-text-secondary);
	cursor: pointer;
	padding: 6px 18px;
	text-align: left;
}

@define-mixin form-control-select-list-item-first {
	padding-top: 16px;
}

@define-mixin form-control-select-list-item-last {
	padding-bottom: 16px;
}

@define-mixin form-control-select-list-item-selected {
	color: var(--color-text-primary);
	font-weight: var(--font-weight-bold);
}

/* -----------------------------------------------------------------------------
 * Sliders & Toggles
 * ----------------------------------------------------------------------------- */

@define-mixin form-control-slider-toggle-track {
	border: none;
	border-radius: 5px;
	height: 10px;
	margin: 5px 0;
	padding: 0;
	position: relative;
	transition: var(--transition-background-color);
}

@define-mixin form-control-slider-toggle-thumb {
	background-color: var(--form-color-background);
	border: 1px solid var(--form-color-border-secondary);
	border-radius: 50%;
	box-shadow: var(--form-box-shadow-default);
	height: 20px;
	width: 20px;
}


/* -----------------------------------------------------------------------------
 * Sliders
 * ----------------------------------------------------------------------------- */

@define-mixin form-control-slider-track {
	@mixin form-control-slider-toggle-track;

	background-color: var(--form-color-accent-primary);
}

@define-mixin form-control-slider-thumb {
	@mixin form-control-slider-toggle-thumb;

	margin-top: -5px;
}
