/* .tribe-events { */
	/* -----------------------------------------------------------------------------
	 *
	 * Layout: Events Content Container
	 *
	 * ----------------------------------------------------------------------------- */
/* } */
