:root {
	/* -----------------------------------------------------------------------------
	 *
	 * Variables: TEC View-specific variables for fine-grained control.
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Event Titles by View
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-events-title-day: var(--tec-color-text-events-title);
	--tec-color-text-events-title-latest-past: var(--tec-color-text-events-title);
	--tec-color-text-event-title-list: var(--tec-color-text-events-title);
	--tec-color-text-events-title-month: var(--tec-color-text-events-title);
	--tec-color-text-events-title-month-mobile: var(--tec-color-text-events-title-month);
	--tec-color-text-events-title-month-multiday: var(--tec-color-text-events-title-month);
	--tec-color-text-events-title-widget-list: var(--tec-color-text-events-title);

	/* -----------------------------------------------------------------------------
	 * Event Dates by View
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-event-date-secondary-month: var(--tec-color-text-event-date-secondary);
	--tec-color-text-event-date-secondary-month-mobile: var(--tec-color-text-event-date-secondary-month);

	/* -----------------------------------------------------------------------------
	 * Borders by View
	 * ----------------------------------------------------------------------------- */

	--tec-border-radius-month-multiday: 9.5px;
}
