:root {
	/* -----------------------------------------------------------------------------
	 *
	 * Variables: TEC View-specific variables for fine-grained control.
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Event Titles by View
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-events-title-day: var(--tec-color-text-events-title);
	--tec-color-text-events-title-latest-past: var(--tec-color-text-events-title);
	--tec-color-text-event-title-list: var(--tec-color-text-events-title);
	--tec-color-text-events-title-month-multiday: var(--tec-color-text-events-title);
	--tec-color-text-events-title-widget-list: var(--tec-color-text-events-title);

	/* -----------------------------------------------------------------------------
	 * Event Dates by View - Month
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-secondary-event-date-month: var(--tec-color-text-secondary-event-date);
	--tec-color-text-secondary-event-date-month-mobile: var(--tec-color-text-secondary-event-date-month);
	--tec-color-text-day-of-week-month: var(--tec-color-text-secondary);
	--tec-color-day-marker-month: var(--tec-color-text-primary);
	--tec-color-day-marker-month-hover: var(--tec-color-text-primary-hover);
	--tec-color-day-marker-month-active: var(--tec-color-text-primary-active);
	--tec-color-day-marker-current-month: var(--tec-color-day-marker-month);
	--tec-color-day-marker-current-month-hover: var(--tec-color-day-marker-month-hover);
	--tec-color-day-marker-current-month-active: var(--tec-color-day-marker-month-active);
	--tec-color-day-marker-past-month: var(--tec-color-text-primary);
	--tec-color-day-marker-past-month-hover: var(--tec-color-day-marker-past-month);
	--tec-color-day-marker-past-month-active: var(--tec-color-day-marker-past-month);

	/* -----------------------------------------------------------------------------
	 * Event Dates by View - Week (move to ECP)
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-day-of-week-week: var(--tec-color-text-secondary);

	/* -----------------------------------------------------------------------------
	 * Borders by View
	 * ----------------------------------------------------------------------------- */

	--tec-border-radius-month-multiday: 9.5px;
	--tec-color-border-secondary-month-grid: var(--tec-color-border-secondary);
	--tec-color-border-active-month-grid-hover: var(--tec-color-border-active);
	--tec-color-background-month-grid: transparent;

	/* -----------------------------------------------------------------------------
	 * Tooltips
	 * ----------------------------------------------------------------------------- */

	--tec-color-background-tooltip: var(--tec-color-background);

	/* -----------------------------------------------------------------------------
	 * Events Bar
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-events-bar-input: var(--tec-color-text-primary);
	--tec-color-text-events-bar-input-placeholder: var(--tec-color-text-secondary);
	--tec-opacity-events-bar-input-placeholder: var(--tec-opacity-default);
	--tec-color-border-events-bar: var(--tec-color-border-secondary);
	--tec-color-background-events-bar: var(--tec-color-background);
	--tec-color-background-view-selector: var(--tec-color-background-events-bar);
	--tec-color-background-view-selector-tabs: var(--tec-color-background-view-selector);
	--tec-color-background-view-selector-list-item-hover: var(--tec-color-background-secondary);
	--tec-color-background-subscribe-list-item-hover: var(--tec-color-background-secondary);
	--tec-color-text-view-selector-list-item: var(--tec-color-text-primary);
	--tec-color-text-view-selector-list-item-hover: var(--tec-color-accent-secondary-hover);
	--tec-color-background-search-container: var(--tec-color-background-events-bar);
	--tec-color-text-events-bar-submit-button: var(--tec-color-background);
	--tec-color-text-events-bar-submit-button-active: var(--tec-color-text-events-bar-submit-button);
	--tec-color-text-events-bar-submit-button-hover: var(--tec-color-text-events-bar-submit-button);
	--tec-color-background-events-bar-submit-button: var(--tec-color-button-primary);
	--tec-color-background-events-bar-submit-button-hover: var(--tec-color-button-primary-hover);
	--tec-color-background-events-bar-submit-button-active: var(--tec-color-button-primary-active);
	--tec-color-icon-events-bar: var(--tec-color-icon-primary);
	--tec-color-icon-events-bar-active: var(--tec-color-icon-active);
	--tec-color-icon-events-bar-hover: var(--tec-color-icon-hover);
}
