:root{
	/* -----------------------------------------------------------------------------
	 *
	 * Variables: TEC View-specific variables for fine-grained control.
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Event Titles by View
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-events-title-day: var(--tec-color-text-events-title);
	--tec-color-text-events-title-latest-past: var(--tec-color-text-events-title);
	--tec-color-text-event-title-list: var(--tec-color-text-events-title);
	--tec-color-text-events-title-month: var(--tec-color-text-events-title);
	--tec-color-text-events-title-month-mobile: var(--tec-color-text-events-title-month);
	--tec-color-text-events-title-month-multiday: var(--tec-color-text-events-title-month);
	--tec-color-text-events-title-widget-list: var(--tec-color-text-events-title);

	/* -----------------------------------------------------------------------------
	 * Event Dates by View - Month
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-event-date-secondary-month: var(--tec-color-text-event-date-secondary);
	--tec-color-text-event-date-secondary-month-mobile: var(--tec-color-text-event-date-secondary-month);

	--tec-color-text-day-of-week-month: var(--tec-color-text-secondary);

	--tec-color-day-marker-month: var(--tec-color-text-primary);
	--tec-color-day-marker-month-hover: var(--tec-color-text-primary-hover);
	--tec-color-day-marker-month-active: var(--tec-color-text-primary-active);

	--tec-color-day-marker-current-month: var(--tec-color-day-marker-month);
	--tec-color-day-marker-current-month-hover: var(--tec-color-day-marker-month-hover);
	--tec-color-day-marker-current-month-active: var(--tec-color-day-marker-month-active);

	--tec-color-day-marker-past-month: var(--tec-color-text-primary);
	--tec-color-day-marker-past-month-hover: var(--tec-color-day-marker-past-month);
	--tec-color-day-marker-past-month-active: var(--tec-color-day-marker-past-month);

	/* -----------------------------------------------------------------------------
	 * Event Dates by View - Week (move to ECP)
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-day-of-week-week: var(--tec-color-text-secondary);

	/* -----------------------------------------------------------------------------
	 * Borders by View
	 * ----------------------------------------------------------------------------- */

	 --tec-border-radius-month-multiday: 9.5px;
	 --tec-color-border-secondary-month-grid: var(--tec-color-border-secondary);
	 --tec-color-border-active-month-grid-hover: var(--tec-color-border-active);
	 --tec-color-background-month-grid: transparent;

	/* -----------------------------------------------------------------------------
	 * Tooltips
	 * ----------------------------------------------------------------------------- */

	 --tec-color-background-tooltip: var(--tec-color-background);

}
