/* -----------------------------------------------------------------------------
 *
 * View: Events View
 *
 * ----------------------------------------------------------------------------- */
.tribe-events-view {
	background-color: var(--tec-color-background-events);
}

/* ------------------------
 * Elementor Overrides
 * ------------------------ */
.tribe-events-view.alignwide {
	margin-left: 0;
	margin-right: 0;
}
