/**
 * This has to be loaded on all pages
 */

#wpadminbar .ab-group-container > .ab-submenu {
	padding: 0;
}

#wpadminbar #wp-admin-bar-tribe-events-group {
	padding-bottom: 0;
}

#wpadminbar #wp-admin-bar-tribe-events-settings-group {
	padding-top: 0;
}
