.tribe-addon {
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
	padding: 20px 20px 20px 0;
	vertical-align: top;
	width: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tribe-addon .thumb img {
	width: 100%;
	max-width: 100%;
}

.tribe-addon h4 {
	font-size: 1.17em;
}

.tribe-addon h4 a {
	text-decoration: none;
}

.addon-grid{
	width: 100%;
}

.category-title {
	display       : block;
	clear         : both;
	margin-bottom : 10px;
}

.tribe-addon.first {
	width: 100%;
	margin: 20px 0 10px;
	padding: 0 0 20px 330px;
	border-bottom: 1px solid #dfdfdf;
	overflow: hidden;	
}

.tribe-addon.first h4 {
	font-size: 20px;
	margin: 0;
	line-height: 1.4;
}

.tribe-addon.first .thumb {
	width: 300px;
	float: left;
	margin-left: -330px;
}

.tribe-addon.first .description {
	max-width: 600px;
}

