/**
 * The Events Calendar Pro Widget This Week Skeleton Stylesheet
 * (Only includes enough css to achieve the grid layout.)
 *
 * To add your own custom styles, create a stylesheet with the name
 * widget-this-week.css in the tribe-events/pro/ directory of your theme.
 * Your new stylesheet will be loaded after our own stylesheet.
 *
 * To replace our stylesheet altogether, you can use the 'tribe_events_pro_widget_calendar_stylesheet_url' filter.
 *
 * @package TribeEventsCalendarPro
 *
 */
/*
* This Week Widget CSS */

.tribe-this-week-widget-wrapper {
	position: relative;
	width: 100%;
}

.tribe-this-week-widget-weekday-wrapper {
	overflow: hidden;
}

.tribe-this-week-widget-wrapper .tribe-events-page-title {
	text-align: center;
}

.tribe-events-visuallyhidden {
	display: none;
}

/*
* This Week Widget Nav CSS */

.entry-content ul.tribe-events-sub-nav,
.tribe-events-sub-nav {
	line-height: normal;
	list-style-type: none;
	overflow: hidden;
	text-align: center;
}

.tribe-events-sub-nav .tribe-this-week-nav-link.nav-next,
.tribe-events-sub-nav .tribe-this-week-nav-link.nav-previous {
	list-style-type: none;
	text-align: left;
}

.tribe-events-sub-nav .tribe-this-week-nav-link.nav-next {
	text-align: right;
}

/*
* This Week Widget Common CSS */

.tribe-this-week-widget-header-date {
	border: none;
	text-align: center;
}

/*
* This Week Widget Vertical CSS */

.tribe-this-week-widget-vertical .tribe-this-week-widget-day {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
}

/*
* This Week Widget Horizontal CSS */

.tribe-this-week-widget-horizontal .tribe-this-week-widget-day {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	vertical-align: top;
	width: 14.28%;
}

.tribe-this-week-widget-horizontal .tribe-this-week-widget-hide-weekends .tribe-this-week-widget-day {
	width: 20%;
}

@media only screen and (max-width: 767px) {
	.tribe-this-week-widget-wrapper {
		max-width: 400px;
		margin: 0 auto;
	}

	.tribe-this-week-widget-horizontal .tribe-this-week-widget-hide-weekends .tribe-this-week-widget-day,
	.tribe-this-week-widget-horizontal .tribe-this-week-widget-day {
		width: 100%;
	}
}