/**
 * The Events Calendar Pro Widget Calendar Skeleton Stylesheet
 * (Only includes enough css to achieve the grid layout.)
 *
 * To add your own custom styles, create a stylesheet with the name
 * widget-calendar.css in the tribe-events/pro/ directory of your theme.
 * Your new stylesheet will be loaded after our own stylesheet.
 *
 * To replace our stylsheet altogether, you can use the 'tribe_events_pro_widget_calendar_stylesheet_url' filter.
 *
 * @package TribeEventsCalendar
 *
 */

.tribe-mini-calendar-wrapper {
	width : 100%;	
}

/* calendar css */
.tribe-mini-calendar-grid-wrapper {
	margin-bottom: 10px;
}


.tribe-mini-calendar {
	border-collapse: collapse;
	margin-left: -1px;
	width: 100%;
}

.tribe-mini-calendar td,
.tribe-mini-calendar th {
	width: 14.2857142857%;
	text-align     : center;
	vertical-align : top;
	border         : 1px solid #d2d2d2;	
}



.tribe-mini-calendar-dayofweek{
	font-weight: bold;
	padding: 3px 0;
}

.tribe-mini-calendar .tribe-events-has-events a {
	font-weight:bold;
	display : block;
	text-decoration: none;
	padding: 5px;
}

.tribe-mini-calendar .tribe-events-has-events a:hover {
}

.tribe-mini-calendar-no-event{
	display: block;
	padding: 5px;
}

.tribe-mini-calendar-nav {
	text-align     : center;
	vertical-align : middle;	
	border         : 1px solid #666;
}

.tribe-mini-calendar-nav div {
	position:relative;
}

.tribe-mini-calendar-nav span {
	margin:0 20px;
	display:inline-block;
}

.tribe-mini-calendar-nav span.active {
	visibility:hidden;
}

.tribe-mini-calendar-nav .tribe-mini-calendar-nav-link {
	display:inline-block;
	padding: 5px;
}

.tribe-events-has-events  .tribe-mini-calendar-day-link:before {
	content: '';
	display: block;
	height: 7px;
	width: 7px;
	padding: 0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #999;
	margin: 5px auto 0 auto;
}

.tribe-mini-calendar-nav #ajax-loading-mini {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	display: none;
}

/* event list css */

.tribe-mini-calendar-event {
	overflow:hidden;
	width:100%;
	padding-bottom : 5px;
	margin-bottom  : 5px;
}

.tribe-mini-calendar-event.first {
	margin-top:10px;
}

.tribe-mini-calendar-event .list-info p {
	margin:5px 0;
	display:none;
}

.tribe-mini-calendar-event.first .list-info p {
	display:block;
}

.tribe-mini-calendar-event .list-info span a {
	font-size: 11px;
}

.tribe-mini-calendar-wrapper a.tribe-events-button {
	margin-top: 10px;
	display: inline-block;
}

/* = Twenty Fifteen theme compatibility.
=============================================*/
.tribe-theme-twentyfifteen .tribe-mini-calendar-event {
	margin-left: 0;
	margin-right: 0;
}
.tribe-theme-twentyfifteen .tribe-mini-calendar-list-wrapper .type-tribe_events {
	margin-left: 0;
	margin-right: 0;
	box-shadow: none;
}