/**
 * The Events Calendar Pro Widget This Week Full Stylesheet
 *
 * To add your own custom styles, create a stylesheet with the name
 * widget-this-week.css in the tribe-events/pro/ directory of your theme.
 * Your new stylesheet will be loaded after our own stylesheet.
 *
 * To replace our stylsheet altogether, you can use the 'tribe_events_pro_widget_calendar_stylesheet_url' filter.
 *
 * @package TribeEventsCalendarPro
 *
 */

 /*
 * This Week Widget CSS */
 .tribe-this-week-widget-wrapper {
 	width : 100%;
 	position:relative;
 }
 .tribe-this-week-widget-weekday-wrapper {
 	margin-bottom: 10px;
 	overflow:hidden;
	min-height: 170px;
 }
 .tribe-this-week-widget-day {
 	margin: 15px 0;
 }
 .tribe-this-week-widget-wrapper .tribe-events-page-title {
	font-size: 26px;
	text-align: center;
 }

 /*
 * This Week Widget Nav CSS */
.entry-content ul.tribe-events-sub-nav,
.tribe-events-sub-nav {
	list-style-type: none;
	margin: 0 0 15px;
	padding: 0;
	overflow: hidden;
	line-height: normal;
	text-align: center;
	font-size: 14px;
 }
.tribe-events-sub-nav .tribe-this-week-nav-link.nav-next,
.tribe-events-sub-nav .tribe-this-week-nav-link.nav-previous {
	float: left;
	margin: 0 5px 0 0;
	text-align: left;
	border: none;
	padding: 0;
	list-style-type: none;
 }
.tribe-events-sub-nav .tribe-this-week-nav-link.nav-next {
	float: right;
	margin: 0 0 0 5px;
	text-align: right;
 }

/*
* This Week Widget Common CSS */
.tribe-this-week-widget-header-date {
	background-color: #f5f5f5;
	color: #333;
	font-weight: 700;
	border: none;
	text-align: center;
	padding: 5px 0;
	margin-bottom: 8px;
 }
 .tribe-this-week-widget-day-wrap {
	padding: 0 6px 6px 0;
 }
 .tribe-this-week-event {
	border-left: 4px #f5f5f5 solid;
	padding: 0 0 0 6px;
	margin-bottom: 8px;
 }
 .tribe-this-week-widget-wrapper .entry-title,
 .tribe-this-week-widget-wrapper .entry-title a {
	font-size: 16px;
	margin: 0;
 }
.tribe-this-week-widget-day {
	font-size: 16px;
	margin: 0;
}

 /*
 * This Week Widget Vertical CSS */
 .tribe-this-week-widget-vertical .tribe-this-week-widget-day {
	vertical-align: top;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }

 /*
 * This Week Widget Horizontal CSS */
 .tribe-this-week-widget-horizontal .tribe-this-week-widget-day {
	float:left;
	width: 14.28%;
	vertical-align: top;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }
.tribe-this-week-widget-horizontal .tribe-this-week-widget-hide-weekends .tribe-this-week-widget-day {
	width: 20%;
}
 .tribe-this-week-widget-horizontal .entry-title,
 .tribe-this-week-widget-horizontal .entry-title a {
	font-size: 14px;
 }

 /*
 * AJAX */
 .tribe-events-ajax-loading {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -27px;
	top: 150px;
	padding: 15px;
	background: #666;
	z-index: 10;
	border-radius: 5px;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
 }
 .tribe-events-spinner-medium {
	width: 24px;
	height: 24px;
 }
 .tribe-events-ajax-loading.tribe-events-active-spinner, .tribe-events-ajax-loading.tribe-events-active-spinner img, .tribe-events-loading .tribe-events-ajax-loading {
	display: block;
 }