.tribe-editor__terms--empty {
	color: #8D949B;
}

.tribe-editor__terms__label {
	display: block;
	font-size: 16px;
}

.tribe-editor__terms__list {
	list-style: none;
}

.tribe-editor__terms__list-item {
	display: inline-block;
	margin-right: 4px;
}

.tribe-editor__terms__list-item-link {
	color: #009fd4;
}

.spinner {

	.tribe-editor__terms & {
		display: block;
		float: none;
	}
}
