/* Don't forget: this is being loaded on every page. */
@import url(smoothness/jquery-ui-1.7.3.custom.css);

.ui-datepicker, .ui-datepicker select, .ui-datepicker input, .ui-datepicker td {
	font-size:11px;
	line-height:15px;
}
.ui-datepicker select, .ui-datepicker option {
	padding:0;
}
.ui-datepicker thead tr th {
	font-size:10px;
}

.events-cal #icon-edit {
	background:url(images/events-screen-icon.png) no-repeat 6px 3px;
}
.events-cal .tablenav select[name=m], .events-cal #post-query-submit {
	display:none;
}
.fixed .column-start-date, .fixed .column-end-date, .fixed .column-events-cats {
	width:14%;
}
.eventForm td {
	padding:6px 6px 0 0;
	font-size:11px;
	vertical-align:middle;
}
.eventForm select, .eventForm input {
	font-size:11px;
}
.eventForm h4 {
	font-size:1.2em;
	margin:2em 0 1em;
}
.eventForm h4.event-time {
	margin-top: 0;
}
.notice {
	background-color: rgb(255, 255, 224);
	border: 1px solid rgb(230, 219, 85);
	margin: 5px 0 15px;
}
#EventInfo {
	border-color:#dfdfdf;
	background-color:#F9F9F9;
	border-width:1px;
	border-style:solid;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin: 0;
	width:100%;
	border-style:solid;
	border-spacing:0;
	padding: 10px;
}
#eventIntro {
  margin: 10px 0 25px 0;
}
.form-table form input {border:none;}
#submitLabel {display: block;}
#submitLabel input {
	display: block;
	padding: 0;
}
#eventDetails h4,
	#EventBriteDetailDiv h4 {
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 6px;
}
.eventForm td {
	padding-bottom: 10px !important;
	padding-top: 0 !important;
}
.eventForm .snp_sectionheader {
	padding-bottom: 5px !important;
}
#snp_thanks {
	float: left;
	width: 200px;
	margin: 5px 0 0 0;
}
.snp_brand {
	font-weight: normal;
	margin: 8px 0;
	font-family: Georgia !important;
	font-size: 17px !important;
}
.eventForm p {
	margin: 0 0 10px 0!important;
}
#eventDetails small,
	#EventBriteDetailDiv small {
	color: #a3a3a3;
	font-size: 10px;
}
#eventBriteTicketing,
	#mainDonateRow {
	background: url(images/bg_fade.png) repeat-x top left;
	background-color: #fff;
	padding: 10px 15px;
	border: 1px solid #e2e2e2;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-radius: 3px;
	margin: -11px 6px 0;
}
#eventBriteTicketing h2 {
	background: url(images/eb_press_little.gif) no-repeat top right;
	height: 80px;
	margin: 0;
}
.eventForm {
	margin-top: -20px;
}
#EventInfo,
	table.eventForm {
	width: 100%;
}
td.snp_message {
	padding-bottom: 10px !important;
}
.clearfix {zoom:1; /* For IE */}
.tec-events-error {display:none;}
.tec_hide {display:none;}
.tec-multi-event-day {color: #0F81BB;}

#adminmenu #menu-posts-spevents div.wp-menu-image {
	background:url(images/menu.png) no-repeat 0 -32px;
}
#adminmenu #menu-posts-spevents:hover div.wp-menu-image, #adminmenu #menu-posts-spevents.wp-has-current-submenu div.wp-menu-image {
	background-position:0 0;
}

#sp-upgrade {
	margin:72px 0 30px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:0 20px 20px;
	background:#f6f6f6;
}
#sp-upgrade .message {
	border-style:solid;
	border-width:1px;
	padding:6px 12px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:#FFFFE0;
	border-color:#E6DB55;
}

