.tribe-editor__map {
	background-color: #f7f1e1;

	&--static {
		align-items: center;
		display: flex;
		justify-content: center;

		img {
			z-index: 2;
		}
	}

	&--interactive {
		align-items: center;
		display: flex;
		flex: 1;
		height: 100%;
		justify-content: center;
		width: 100%;
	}

	&--dynamic {
		height: 100%;
		width: 100%;
		z-index: 2;
	}

	.tribe-editor__venue--has-map & {
		flex-basis: 49%;
		min-height: 220px;
		width: 49%;
	}
}
