/**
 * Organizer block view styles
 *
 * @since  0.2.4-alpha
 */
.tribe-block__organizer__details {
	margin: 15px 0;
	position: relative;

	h3 {
		color: #000;
		font-size: 1.3125rem;
		font-weight: 700;
		margin-bottom: 4px;
		margin-top: 0;
	}

	p {
		color: #545d66;
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 2px;
		margin-top: 0;
	}
}
