/**
 * Elementor Event Backlink Widget styles.
 *
 * @since 6.4.0
 */

.tec-events-back {
	a,
	a:visited {
		color: var(--tec-color-link-accent);
		font-family: var(--tec-font-family-sans-serif);
		font-size: var(--tec-font-size-3);
		font-weight: var(--tec-font-weight-bold);
		margin: 0 0 var(--tec-spacer-5) 0;

		@media (--viewport-medium) {
			margin-bottom: var(--tec-spacer-8);
		}
	}

	a:hover {
		color: var(--tec-color-link-accent-hover);
	}
}
