/**
 * Elementor Event Categories Widget styles.
 *
 * @since TBD
 */

.tec-events-elementor-event-widget__categories {

	.tec-events-elementor-event-widget__categories-link-wrapper a {
		border-bottom-color: currentColor;
		color: var(--tec-color-accent-primary);

		&:hover {
			color: var(--tec-color-accent-primary-hover);
		}
	}
}
