/**
 * Elementor Event Categories Widget styles.
 *
 * @since 6.4.0
 */

.tec-events-elementor-event-widget__categories {

	.tec-events-elementor-event-widget__categories-header {
		font-weight: var(--tec-font-weight-bold);
	}

	.tec-events-elementor-event-widget__categories-link-wrapper a {
		border-bottom-color: currentcolor;
		color: var(--tec-color-accent-primary);
		text-decoration: underline;

		&:hover {
			color: var(--tec-color-accent-primary-hover);
		}
	}
}
