.tec-events-elementor-event-widget__datetime-wrapper {
	align-items: baseline;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	.tec-events-elementor-event-widget__datetime-header {
		width: 100%;
	}
}
