/**
 * Elementor Event Categories Widget styles.
 *
 * @since TBD
 */

.tec-events-elementor-event-widget__categories {
	padding-bottom: var(--tec-spacer-5);

	.tec-events-elementor-event-widget__categories-label {
		padding-bottom: var(--tec-spacer-1);
	}

	.tec-events-elementor-event-widget__categories-link-wrapper a {
		border-bottom-color: currentColor;
	}
}
