/**
 * Elementor Event Organizer Widget styles.
 *
 * @since TBD
 */

.tec-events-elementor-event-widget__organizer {
	padding-bottom: var(--tec-spacer-2);

	.tec-events-elementor-event-widget__organizer-phone-label,
	.tec-events-elementor-event-widget__organizer-email-label,
	.tec-events-elementor-event-widget__organizer-website-label {
		padding-bottom: var(--tec-spacer-1);
	}

	.tec-events-elementor-event-widget__organizer-website > a {
		border-color: currentColor;
	}

	.tec-events-elementor-event-widget__organizer-name-link {
		border-color: currentColor;
	}
}
