/**
 * Elementor Event Tags Widget styles.
 *
 * @since TBD
 */

.tec-events-elementor-event-widget__tags {
	padding-bottom: var(--tec-spacer-5);

	.tec-events-elementor-event-widget__tags-label {
		padding-bottom: var(--tec-spacer-1);
	}

	.tec-events-elementor-event-widget__tags-link {
		border-bottom-color: currentColor;
	}
}
