/**
 * Elementor Event Website Widget styles.
 *
 * @since TBD
 */

.tec-elementor-event-widget__website {
	.tec-elementor-event-widget__website-link > a {
		border-color: currentColor;
		color: var(--tec-color-text-primary);
		font-weight: var(--tec-font-weight-regular);

		&:hover {
			color: var(--tec-color-accent-primary);
		}
	}
}
