/**
 * Elementor Event Venue Widget styles.
 *
 * @since TBD
 */

.tec-events-elementor-event-widget__venue-header,
.tribe-events-content .tec-events-elementor-event-widget__venue-header {
	margin: var(--tec-spacer-1) 0;
}

.tec-events-elementor-event-widget__venue-container,
.tribe-events-content .tec-events-elementor-event-widget__venue-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: var(--tec-spacer-6);

	@media only screen and (max-width: 767px) {
		flex-direction: column;
	}

	.tec-events-elementor-event-widget__venue-details {
		box-sizing: border-box;
		flex: 1;
		min-width: 50%;
		padding: 10px;

		p {
			margin: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tec-events-elementor-event-widget__venue-address,
	.tec-events-elementor-event-widget__venue-phone,
	.tec-events-elementor-event-widget__venue-website {
		margin-bottom: var(--tec-spacer-5);
	}

	.tec-events-elementor-event-widget__venue-address-header,
	.tec-events-elementor-event-widget__venue-phone-header,
	.tec-events-elementor-event-widget__venue-website-header {
		margin: var(--tec-spacer-1) 0;
	}

	.tec-events-elementor-event-widget__venue-address-map-link > a {
		border-color: currentColor;
	}

	.tec-events-elementor-event-widget__venue-website-url > a {
		border-color: currentColor;
	}

	.tec-events-elementor-event-widget__venue-name-header {
		padding-bottom: var(--tec-spacer-2);
	}

	.tec-events-elementor-event-widget__venue-name-link {
		border-color: currentColor;
	}

	.tec-events-elementor-event-widget__venue-phone-header .tec-events-elementor-event-widget__venue-phone {
		padding: 0;
	}
}
