/**
 * Elementor Event Datetime Widget styles.
 *
 * @since 6.4.0
 */

.tec-events-elementor-event-widget__image {
	height: auto;
	width: 100%;

	img {
		height: auto;
		object-fit: contain;
		width: auto;
	}
}
