/**
 * Elementor Event Organizer Widget styles.
 *
 * @since TBD
 */

.tec-events-elementor-event-widget__organizer {
	padding-bottom: var(--tec-spacer-2);

	.tec-events-elementor-event-widget__organizer-header {
		font-weight: var(--tec-font-weight-bold);
		text-transform: uppercase;
	}

	.tec-events-elementor-event-widget__organizer-phone,
	.tec-events-elementor-event-widget__organizer-email,
	.tec-events-elementor-event-widget__organizer-website {

		&-header {
			font-weight: var(--tec-font-weight-bold);
			margin: var(--tec-spacer-3) 0 var(--tec-spacer-0) 0;
			padding: 0;
		}
	}

	.tec-events-elementor-event-widget__organizer-website {
		> a {
			border-color: currentColor;
			color: var(--tec-color-accent-primary);
			text-decoration: underline;

			&:hover {
				color: var(--tec-color-accent-primary-hover);
			}
		}
	}

	.tec-events-elementor-event-widget__organizer-email-link,
	.tec-events-elementor-event-widget__organizer-phone-link {
		border-color: currentColor;
		color: var(--tec-color-accent-primary);
		text-decoration: underline;
	}
}
