/**
 * Elementor Event Datetime Widget styles.
 *
 * @since 6.4.0
 */

.tec-events-elementor-event-widget__title {
	color: var(--tec-color-text-event-title);
	font-size: 1.7em;
	font-weight: var(--tec-font-weight-bold);
	line-height: 1;
	margin: 0;
	padding: 0;
}
