/**
 * Elementor Event Venue Widget styles.
 *
 * @since TBD
 */

.tec-events-elementor-event-widget__venue,
.tec-events-elementor-event-widget__venue .tribe-events-content {
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 767px) {
		flex-direction: row;
	}

	.tec-events-elementor-event-widget__venue-header {
		margin: var(--tec-spacer-1) 0;
	}

	.tec-events-elementor-event-widget__venue-container {
		border: 1px solid var(--tec-color-border-secondary);
		border-radius: var(--tec-border-radius-default);
		display: flex;
		flex: 1 1 calc(50% - var(--tec-spacer-1));
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;
		width: fit-content;

		@media only screen and (min-width: 767px) {
			flex-direction: row;
			margin: var(--tec-spacer-2);
			max-width: 580px;
		}
	}

	.tec-events-elementor-event-widget__venue-details {
		box-sizing: border-box;
		font-size: var(--tec-font-size-2);
		padding: 10px;

		> * {
			margin: var(--tec-spacer-3) 0;
			padding: 0;
		}

		p {
			margin: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.tec-events-elementor-event-widget__venue-address,
		.tec-events-elementor-event-widget__venue-phone,
		.tec-events-elementor-event-widget__venue-website {
			margin-bottom: var(--tec-spacer-5);

			&-header {
				margin-bottom: var(--tec-spacer-1) 0;
			}
		}

		.tec-events-elementor-event-widget__venue-email-link,
		.tec-events-elementor-event-widget__venue-name-link,
		.tec-events-elementor-event-widget__venue-phone-link {
			border-color: currentColor;
			font-size: inherit;
		}

		.tec-events-elementor-event-widget__venue-address-address {
			margin-bottom: 0;
		}

		.tec-events-elementor-event-widget__venue-address-map-link {
			margin: -var(--tec-spacer-3) 0 var(--tec-spacer-3) 0;
		}

		.tec-events-elementor-event-widget__venue-address-map-link,
		.tec-events-elementor-event-widget__venue-website-url {
			> a {
				border-color: currentColor;
				color: var(--tec-color-accent-primary);

				&:hover {
					color: var(--tec-color-accent-primary-hover);
				}
			}
		}

		.tec-events-elementor-event-widget__venue-name {
			font-size: var(--tec-font-size-4);

			&-header {
				padding-bottom: var(--tec-spacer-2);
			}
		}
	}

	.tec-events-elementor-event-widget__venue-map {
		flex: 1 1 50%;
		margin: 0;
		padding: 0;
	}
}
