/**
 * Elementor Event Website Widget styles.
 *
 * @since 6.4.0
 */

.tec-events-elementor-event-widget__website {

	.tec-events-elementor-event-widget__website-header {
		font-weight: var(--tec-font-weight-bold);
	}

	.tec-events-elementor-event-widget__website-link > a {
		border-color: currentcolor;
		color: var(--tec-color-accent-primary);
		font-weight: var(--tec-font-weight-regular);

		&:hover {
			color: var(--tec-color-accent-primary-hover);
		}
	}
}
