.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Event
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-list__event-row--featured {

		.tribe-events-calendar-list__event-date-tag-datetime {

			&:after {
				background-color: var(--tec-color-accent-primary);
				border-radius: var(--tec-border-radius-default);
				content: '';
				height: 100%;
				right: calc(100% - 3px);
				position: absolute;
				width: 3px;

				.tribe-common--breakpoint-medium& {
					right: -1px;
					width: 4px;
				}
			}
		}
	}

	.tribe-events-calendar-list__event-venue {
		font-style: normal;
	}

	.tribe-events-calendar-list__event-date-tag-weekday {
		@mixin mobile-body-3;

		color: var(--tec-color-text-secondary);
		text-transform: uppercase;
	}

	.tribe-events-calendar-list__event-featured-image-link {
		transition: var(--tec-transition-opacity);

		&:hover,
		&:focus {
			opacity: var(--tec-opacity-icon-hover);
		}

		&:active {
			opacity: var(--tec-opacity-icon-active);
		}
	}

	.tribe-events-calendar-list__event-title {
		color: var(--tec-color-text-event-title-list);
	}

	.tribe-events-calendar-list__event-datetime {
		color: var(--tec-color-text-event-date);
	}

	.tribe-events-calendar-list__event-datetime-featured-text {

		.tribe-common--breakpoint-medium& {
			color: var(--tec-color-accent-primary);
			font-weight: var(--tec-font-weight-bold);
		}
	}
}
