.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Month Separator
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-list__month-separator {

		&:after {
			background-color: var(--color-border-default);
			content: '';
			display: block;
			flex: auto;
			height: 1px;
			margin-left: 20px;
		}
	}
}
