/**
 * The Events Calendar Tribe Header V2 Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

.tribe-events-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	@media (--viewport-medium) {
		flex-direction: row;
	}
}
