.tribe-events {

	.tribe-events-view-loader {
		align-items: center;
		justify-content: center;
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: var(--z-index-spinner-container);
		background: var(--color-background-transparent);

		.tribe-events-view-loader__spinner {
			/* placeholder for when spinner is added */
		}
	}
}
