.tribe-events-container {
	position: relative;

	.tribe-events-view-loader {
		align-content: center;
		justify-content: center;
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 25000;
		background: rgba( 255, 255, 255, 0.6 );

		&__spinner {
			align-self: center;
		}
	}
}