.tribe-events {

	.tribe-events-calendar-month__event {
		margin: var(--spacer-1) 0;
	}

	.tribe-events-calendar-month__event-featured-image-wrapper {
		margin-bottom: var(--spacer-0);
	}

	.tribe-events-calendar-month__event-datetime {
		@mixin mobile-body-3;

		color: var(--color-text-secondary);
	}

	.tribe-events-calendar-month__event-datetime-featured {
		display: inline-block;
		margin-left: 5px;
	}

	.tribe-events-calendar-month__event-title {
		font-weight: var(--font-weight-regular);
	}

	.tribe-events-calendar-month__event-title-link {

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
