/**
 * The Events Calendar Tribe V2 Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */
@import "../utilities/_all.pcss";

/* Base */
@import "../base/_all.pcss";

/* Components */
@import "../components/_all.pcss";

/* Views */
@import "_all.pcss";

/**
 * Views Manager Loader required the views container to be position: relative;
 * @todo move this to somewhere that makes sense
 */
.tribe-events {
	position: relative;
}

