/* .tribe-events { */
	/* -----------------------------------------------------------------------------
	 *
	 * Layout Variables: TEC View-specific variables for fine-grained control.
	 *
	 * ----------------------------------------------------------------------------- */
/* } */
