/**
 * The Events Calendar Pro Full Stylesheet
 * (Some of these styles may override your current theme's styles)
 *
 * You can customize this stylesheet by putting a stylesheet of the same name
 * (tribe-events-pro.css) in the tribe-events/pro/ directory of your theme.
 *
 * @package TribeEventsCalendarPro
 * @since  1.0
 * @author Modern Tribe Inc.
 *
 */
 
/* = Single Venue Template Styles (Pro Version)
   @ Template: single-venue.php
=============================================*/
.single-tribe_venue .tribe-events-map-wrap {
	margin: 0 0 10px 0; 
	float: right;
}

/* Events Loop */
.tribe-events-loop .tribe-events-loop .vevent {
	margin: 0;
}
.tribe-events-loop h2.tribe-events-page-title {
	padding-left: 0;
}
.tribe-events-loop .published {
	margin-top: 0;
}
.tribe-events-loop .entry-title {
	color: #333; 
	text-decoration: none; 
	font-size: 18px;
	margin: 15px 0 6px;
	padding: 0;
	line-height: 1em;
	font-weight: bold;
}


/* = Events Calendar Widget Styles (Sidebar)
   @ Template: calendar-widget.php
=============================================*/
.tribe-events-calendar-widget #tribe-events-calendar-wrap {
	width: 100%;
}
.tribe-events-calendar-widget table.tribe-events-calendar {
	width: 100%;
	table-layout: fixed;
	margin-top: 0;
}
.tribe-view-all-events {
	float: right;
}
.tribe-events-calendar-widget th {
	font-size: 10px;
	background-color: #e8e8e8;
	color: #555;
	width: 14.28%;
}
.tribe-events-calendar-widget td {
	height: auto;
	text-align: center;
}
.tribe-events-calendar-widget td div[id*="tribe-events-daynum-"] {
	padding: 6px 0;
	background-color: #f9f9f9;
}
.tribe-events-calendar-widget div[id*="tribe-events-daynum-"], 
.tribe-events-calendar-widget td a {
	font-size: 10px;
}
.tribe-events-calendar-widget td a.tribe-events-day-has-event {
	color: #06c;
	cursor: default;
}
.tribe-events-calendar-widget .tribe-events-tooltip {
	width: 100px;
	left: 0;
	text-align: left;
	padding: 5px 10px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
	right: 0;
}
.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
	left: 4px;
}
.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left: auto;
	right: 3px;
}
.tribe-events-calendar-widget h5.entry-title {
	font-size: 11px;
	line-height: 1.5;
	padding: 0;
}


/* = Related Events
=============================================*/
.related-events-title {
	color: #666;
}
ul.related-events {
	display: block;
	margin: 0;
}
ul.related-events li {
	display: block;
	min-width: 160px;
	vertical-align: text-bottom;
	position: relative;
	float: left;
	list-style-type: none;
}
.related-event-date {
	font-size: .75em;
	text-transform: uppercase;
}
 
 
/* = Events Countdown Widget
=============================================*/
.tribe-countdown-timer span.tribe-countdown-seconds,
.tribe-countdown-timer span.format, 
.tribe-countdown-timer span.tribe-countdown-complete {
	display: none;
}
div.tribe-countdown-timer {
	text-align: center;
	line-height: 1.5em;
	padding-top: 10px;
}
div.tribe-countdown-number {
	float: left;
	color: #000;
	font-size: 2.4em;
}
span.tribe-countdown-under {
	font-size: 10px;
	color: #666;
	text-transform: uppercase;
	font-weight: 500;
}
div.tribe-countdown-colon {
	float: left;
	color: #666;
	font-size: 1.5em;
	padding: 0 4px;
}
div.tribe-countdown-right {
	float: left;
}
div.tribe-countdown-text {
	clear: both;
}
