.tribe-events-widget {

	.tribe-events-widget-events-list__header {
		margin-bottom: var(--tec-spacer-5);
	}

	.tribe-events-widget-events-list__event-row--featured {

		.tribe-events-widget-events-list__event-date-tag-datetime:after {
			background-color: var(--tec-color-accent-primary);
			border-radius: 1.5px;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			width: 3px;
		}
	}

	.tribe-events-widget-events-list__event-date-tag-month {
		@mixin mobile-body-3;

		color: var(--tec-color-text-secondary);
		text-transform: uppercase;
	}

	.tribe-events-widget-events-list__event-title {
		color: var(--tec-color-text-events-title-widget-list);

		.tribe-common--breakpoint-xsmall& {
			@mixin heading-5;
		}

		.tribe-common--breakpoint-medium& {
			@mixin desktop-heading-4;
		}
	}

	.tribe-events-widget-events-list__view-more-link {
		color: var(--tec-color-link-accent);
		text-transform: capitalize;

		&:visited {
			color: var(--tec-color-link-accent);
		}

		&:active,
		&:focus,
		&:hover {
			border-bottom-color: var(--tec-color-link-accent);
			color: var(--tec-color-link-accent);
		}
	}

	.tribe-events-widget-events-list {

		.tribe-events-c-messages__message {
			background-color: transparent;
			border-radius: 0;
		}

		.tribe-events-c-messages__message--notice {

			.tribe-events-c-messages__message-icon-svg {
				display: inline-block;
				margin-right: var(--tec-spacer-2);
			}
		}

		.tribe-events-c-messages__message-list {

			.tribe-common--breakpoint-medium& {
				text-align: left;
			}
		}

		.tribe-events-c-messages__message-list-item-link {
			font-weight: var(--tec-font-weight-bold);
		}
	}

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen &,
	.tribe-theme-twentyseventeen .site-footer .widget-area &,
	.site-footer .widget-area & {

		.tribe-events-widget-events-list__view-more-link {

			&,
			&:visited {
				color: var(--tec-color-link-accent);
			}

			&:active,
			&:focus,
			&:hover {
				border-bottom-color: var(--tec-color-link-accent);
				color: var(--tec-color-link-accent);
			}
		}
	}

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Astra
	 * ------------------------------------------------------------------------- */

	.tribe-theme-astra.ast-separate-container &,
	.ast-separate-container & {

		.tribe-events-widget-events-list__event {
			background-color: transparent;
			border: 0;
		}
	}

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Enfold
	 * ------------------------------------------------------------------------- */

	.tribe-theme-enfold &,
	.footer_color &,
	.main_color & {

		.tribe-events-widget-events-list__event-venue-address,
		.tribe-events-widget-events-list__event-organizer-contact {
			color: var(--tec-color-text-primary);
		}
	}

	.tribe-theme-enfold &,
	.main_color .sidebar & {

		.tribe-events-widget-events-list__view-more-link {

			&,
			&:visited {
				color: var(--tec-color-link-accent);
			}

			&:active,
			&:focus,
			&:hover {
				border-bottom-color: var(--tec-color-link-accent);
				color: var(--tec-color-link-accent);
			}
		}
	}
}
