body.single-tec_calendar_embed {
	.tribe-events {
		.tribe-events-l-container {
			padding: var(--tec-spacer-4);
		}

		&.tribe-common--breakpoint-medium .tribe-events-calendar-month__day {
			min-height: 140px;
		}
	}
}
