.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Month Separator
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-list__month-separator {
		align-items: center;
		display: flex;
	}

	.tribe-events-calendar-list__month-separator-text {
		flex: none;
	}
}
