.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Month Separator
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-list__month-separator {
		display: flex;
		align-items: center;
	}

	.tribe-events-calendar-list__month-separator-text {
		flex: none;
	}
}
