.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-list-nav {
		padding-top: var(--spacer-5);

		.tribe-common--breakpoint-medium& {
			padding-top: var(--spacer-7);
		}
	}
}
