/**
 * The Events Calendar Tribe Day V2 Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

@import "day/_event.pcss";
@import "day/_nav.pcss";
@import "day/_time-separator.pcss";
@import "day/_type-separator.pcss";
