/* -----------------------------------------------------------------------------
* Event Status.
* ----------------------------------------------------------------------------- */
.tribe-events {

	.tribe-events-status-label__text {
		color: var(--tec-color-icon-error);
	}
}

/* -----------------------------------------------------------------------------
* Single.
* ----------------------------------------------------------------------------- */
.tribe-events-single {

	.tribe-events-status-single__header {
		color: var(--tec-color-icon-error);
	}

	.tribe-events-status-single__header--alert-icon:before {
		background-image: url('../images/alert.svg');
		background-repeat: no-repeat;
		background-size: var(--tec-spacer-3);
		content: '';
		display: inline-block;
		height: var(--tec-spacer-3);
		margin-right: var(--tec-spacer-1);
		min-width: var(--tec-spacer-3);
	}

	.tribe-events-status-single {
		border: 1px solid var(--tec-color-border-default);
		border-left-color: var(--tec-color-icon-error);
		border-left-width: var(--tec-spacer-0);
	}

	.tribe-events-status-single__description {
		color: var(--tec-color-text-primary);
	}
}
