.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar Body
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__body {

		@media (--viewport-medium) {
			border-top: 1px solid var(--color-border-secondary);
		}
	}

	.tribe-events-calendar-month__week {
		display: flex;

		@media (--viewport-medium) {
			border-left: 1px solid var(--color-border-secondary);
		}
	}
}
