.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar Event
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__calendar-event {
		margin: var(--spacer-1) 0;
		position: relative;

		&:first-of-type {
			margin-top: 0;
		}
	}

	.tribe-events-calendar-month__calendar-event-featured-image-wrapper {
		margin-bottom: var(--spacer-0);
	}

	.tribe-events-calendar-month__calendar-event-featured-image {
		padding-bottom: 56.25%;
	}

	.tribe-events-calendar-month__calendar-event-datetime {
		@mixin mobile-body-3;

		color: var(--color-text-secondary);

		> * {
			vertical-align: middle;
		}
	}

	.tribe-events-calendar-month__calendar-event-datetime-featured,
	.tribe-events-calendar-month__calendar-event-datetime-recurring {
		display: inline-block;
		margin-left: 3px;
	}

	.tribe-events-calendar-month__calendar-event-title {
		font-weight: var(--font-weight-regular);
	}

	.tribe-events-calendar-month__calendar-event-title-link {
		color: var(--color-text-primary);
	}

	.tribe-events-calendar-month__calendar-event-tooltip-featured-image-wrapper {
		margin-bottom: var(--spacer-2);
	}

	.tribe-events-calendar-month__calendar-event-tooltip-featured-image {
		padding-bottom: 56.25%;
	}

	.tribe-events-calendar-month__calendar-event-tooltip-cta {
		margin-top: var(--spacer-2);
	}
}
