.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Mobile Event
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__mobile-event {
		border-bottom: 1px solid var(--color-border-default);
		padding: var(--spacer-2) 0;
	}

	.tribe-events-calendar-month__mobile-event--featured {
		padding-bottom: var(--spacer-3);
	}

	.tribe-events-calendar-month__mobile-event-featured-image-wrapper {
		margin-bottom: var(--spacer-2);
	}

	.tribe-events-calendar-month__mobile-event-featured-image {
		padding-bottom: 75%;
	}

	.tribe-events-calendar-month__mobile-event-datetime {
		margin-bottom: var(--spacer-0);

		> * {
			vertical-align: middle;
		}
	}

	.tribe-events-calendar-month__mobile-event-datetime-featured,
	.tribe-events-calendar-month__mobile-event-datetime-recurring {
		display: inline-block;
		margin-left: 3px;
	}

	.tribe-events-calendar-month__mobile-event-cta {
		margin-top: var(--spacer-1);
	}
}
