.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Multiday Event
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__event-multiday {
		display: none;

		@media (--viewport-medium) {
			display: block;
			border-radius: 6px;
			background-color: white;
			overflow: hidden;
			position: absolute;
			z-index: calc( var(--z-index-spinner-container) - 1 );
		}
	}

	.tribe-events-calendar-month__event-multiday--start {
		@media (--viewport-medium) {
			border-radius: 6px 0 0 6px;
			&.tribe-events-calendar-month__event-multiday--end {
				border-radius: 6px;
			}
		}
	}

	.tribe-events-calendar-month__event-multiday--end {
		@media (--viewport-medium) {
			border-radius: 0 6px 6px 0;
			&.tribe-events-calendar-month__event-multiday--start {
				border-radius: 6px;
			}
		}
	}

	.tribe-events-calendar-month__event-multiday-inner {
		background-color: rgba(var(--color-accent-primary), .1);
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		padding: 1px var(--spacer-1);

		&:hover,
		&:focus {
			background-color: rgba(var(--color-accent-primary), .2);
		}
	}

	.tribe-events-calendar-month__multiday-wrapper {

		@media (--viewport-medium) {
			height: 19px;
			margin-bottom: var(--spacer-0);
			position: relative;
		}
	}

	.tribe-events-calendar-month__event-multiday-inner--border-left {
		border-left: 2px solid var(--color-accent-primary);
	}

	.tribe-events-calendar-month__event-multiday-inner--border-right {
		border-right: 2px solid var(--color-accent-primary);
	}

	.tribe-events-calendar-month__event-multiday-featured-icon {
		display: inline-block;
		margin-right: 5px;
	}

	.tribe-events-calendar-month__event-multiday-title {
		font-weight: var(--font-weight-regular);
	}

	.tribe-events-calendar-month__event-multiday-width-1 {
		width: 100%;
	}

	.tribe-events-calendar-month__event-multiday-width-2 {
		width: calc( 200% + 2px );
	}

	.tribe-events-calendar-month__event-multiday-width-3 {
		width: calc( 300% + 3px );
	}

	.tribe-events-calendar-month__event-multiday-width-4 {
		width: calc( 400% + 4px );
	}

	.tribe-events-calendar-month__event-multiday-width-5 {
		width: calc( 500% + 5px );
	}

	.tribe-events-calendar-month__event-multiday-width-6 {
		width: calc( 600% + 6px );
	}

	.tribe-events-calendar-month__event-multiday-width-7 {
		width: calc( 700% + 7px );
	}

	.tribe-events-calendar-month__event-multiday--empty,
	.tribe-events-calendar-month__event-multiday--hidden {
		display: none;

		@media (--viewport-medium) {
			visibility: hidden;
		}
	}

}
