.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month-nav {

		@media (--viewport-medium) {
			@mixin hidden;
		}
	}

	.tribe-events-calendar-month-nav--calendar {
		padding-top: var(--spacer-3);
	}

	.tribe-events-calendar-month-nav--mobile {
		padding-top: var(--spacer-4);
	}
}
