.tribe-ea {

	.tribe-ea-tab {
		padding: 20px;
		margin-top: 20px;
		border: 1px solid #ccc;
		background-color: #fff;
	}

	.tribe-ea-help {
		padding: 4px;
		cursor: pointer;

		&:hover {
			color: #0073aa;
		}
	}

	.tribe-ea-hidden {
		display: none;
	}

	.bumpdown {
		font-size: 12px;
		font-style: italic;
	}

}