/**
 * The Events Calendar Tribe V2 Single Full Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */

/* @import "utilities/_variables-skeleton.pcss"; */
@import "utilities/_variables-full.pcss";
@import "utilities/_all.pcss";

/* Single Event */
@import "views/full/_single-event.pcss";
