/**
 * The Events Calendar Tribe V2 Single Skeleton Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */
@import "utilities/_variables-skeleton.pcss";
@import "utilities/_all.pcss";

/* Single Event */
@import "views/skeleton/_single-event.pcss";
