/**
 * Single Event Title V2
 *
 * This file resets the font size for the event title in the block editor.
 *
 * @since TBD
 *
 */
.single-tribe_events .tribe-blocks-editor .tribe-events-single-event-title {
    font-size: revert;
    line-height: revert;
}