/**
 * The Events Calendar Tribe V2 Skeleton Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */
@import "utilities/_all.pcss";

/* Base */
@import "base/skeleton/_all.pcss";

/* Components */
@import "components/skeleton/_all.pcss";

/* Views */
@import "views/skeleton/_all.pcss";
