/**
 * The Events Calendar Tribe V2 Full Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */
@import "utilities/_all.pcss";

/* Base */
@import "base/full/_all.pcss";

/* Components */
@import "components/full/_all.pcss";

/* Views */
@import "views/full/_all.pcss";
