/**
 * The Events Calendar Widgets Tribe V2 Full Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */
@import "utilities/_all.pcss";

/* Base */
@import "base/full/_all.pcss";

/* Widgets */
@import "widgets/full/_all.pcss";
