/**
 * The Events Calendar Widget Events List Tribe V2 Skeleton Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */
@import "utilities/_all.pcss";

/* Widgets */
@import "widgets/skeleton/_events-list.pcss";
