/**
 * The Events Calendar Widgets Base Tribe V2 Skeleton Stylesheet
 *
 * @package TribeEventsCalendar
 *
 */

/* Utilities */
@import "utilities/_all.pcss";

/* Base */
@import "base/skeleton/_all.pcss";
