.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Event
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-day__event-title {
		color: var(--tec-color-text-events-title-day);
	}

	.tribe-events-calendar-day__event-title-link {
		@mixin event-title-link-color;
		@mixin event-title-link;
	}

	.tribe-events-calendar-day__event-datetime {
		color: var(--tec-color-text-event-date);
	}

	.tribe-events-calendar-day__event--featured {
		position: relative;

		&:after {
			background-color: var(--tec-color-accent-primary);
			content: '';
			height: 100%;
			left: var(--tec-grid-gutter-small-half);
			position: absolute;
			width: 3px;

			.tribe-common--breakpoint-medium& {
				left: calc(var(--tec-grid-width-1-of-9) - var(--tec-grid-gutter-half));
				width: 4px;
			}
		}
	}

	.tribe-events-calendar-day__event-venue {
		font-style: normal;
	}

	.tribe-events-calendar-day__event-featured-image-link {
		transition: var(--tec-transition-opacity);

		&:hover,
		&:focus {
			opacity: var(--tec-opacity-icon-hover);
		}

		&:active {
			opacity: var(--tec-opacity-icon-active);
		}
	}

	.tribe-events-calendar-day__event-datetime-featured-text {

		.tribe-common--breakpoint-medium& {
			color: var(--tec-color-accent-primary);
			font-weight: var(--tec-font-weight-bold);
		}
	}
}
