.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-day-nav {
		border-top: 1px solid var(--color-border-default);
	}
}
