/**
 * Website block view styles
 *
 * @since  0.2.4-alpha
 */

.tribe-block__event-website {
	a {
		align-items: center;
		border: 1px solid #e1e3e6;
		background-color: #009fd4;
		color: #fff;
		display: inline-flex;
		font-size: 1.125rem;
		justify-content: center;
		min-height: 54px;
		padding: 0 20px;
		max-width: 100%;

		&:hover {
			color: #fff;
		}
	}
}