/* stylelint-disable */
/* .tribe-events { */
	/* -----------------------------------------------------------------------------
	 * Calendar Body
	 * ----------------------------------------------------------------------------- */
/* } */
