.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Calendar Event
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__day--past {

		.tribe-events-calendar-month__calendar-event {
			opacity: 0.64;
		}

		.tribe-events-calendar-month__calendar-event-datetime {
			color: var(--tec-color-text-event-date);
			opacity: 0.94; /* This opacity is compounded with the calendar-event opacity above */
		}
	}

	.tribe-events-calendar-month__calendar-event-featured-image-link {
		transition: var(--tec-transition-opacity);

		&:hover,
		&:focus {
			opacity: var(--tec-opacity-icon-hover);
		}

		&:active {
			opacity: var(--tec-opacity-icon-active);
		}
	}

	.tribe-events-calendar-month__calendar-event-datetime {
		@mixin mobile-body-3;

		color: var(--tec-color-text-secondary-event-date);
	}

	.tribe-events-calendar-month__calendar-event--featured {

		&:before {
			background-color: var(--tec-color-accent-primary);
			content: '';
			height: 100%;
			left: 7px;
			position: absolute;
			width: 2px;
		}

		&:last-child {

			&:before {
				height: calc(100% - var(--tec-spacer-3));
			}
		}
	}

	.tribe-events-calendar-month__calendar-event-title-link,
	.tribe-events-calendar-month__calendar-event-tooltip-title-link {
		@mixin event-title-link-color;
	}

	/* -----------------------------------------------------------------------------
	 * Calendar Event Tooltip
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__calendar-event-tooltip-featured-image-link {
		transition: var(--tec-transition-opacity);

		&:hover,
		&:focus {
			opacity: var(--tec-opacity-icon-hover);
		}

		&:active {
			opacity: var(--tec-opacity-icon-active);
		}
	}

	.tribe-events-calendar-month__calendar-event-tooltip-datetime {
		@mixin mobile-body-3;

		color: var(--tec-color-text-event-date);
	}
}
