.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Calendar Body
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__body {
		background-color: var(--tec-color-background-month-grid);
	}
}
