.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar Header
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__header-row {
		display: flex;
	}

	.tribe-events-calendar-month__header-column {
		text-transform: uppercase;
		width: var(--grid-width-1-of-7);
		padding-bottom: var(--spacer-3);
	}

	.tribe-events-calendar-month__header-column-title {
		color: var(--color-text-secondary);
		text-align: center;

		@media (--viewport-medium) {
			text-align: left;
		}
	}

	.tribe-events-calendar-month__header-column-title-mobile {
		@media (--viewport-medium) {
			@mixin hidden;
		}
	}

	.tribe-events-calendar-month__header-column-title-desktop {

		@media (--viewport-medium) {
			display: block !important;
			visibility: visible
		}
	}
}
