.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Calendar Header
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__header-column {
		text-transform: uppercase;
	}

	.tribe-events-calendar-month__header-column-title {
		color: var(--color-text-secondary);
		text-align: center;

		.tribe-common--breakpoint-medium& {
			text-align: left;
		}
	}
}
