.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Day
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__day {
		border-radius: var(--tec-border-radius-default);

		.tribe-common--breakpoint-medium& {
			border-radius: 0;
		}

		&:after {

			.tribe-common--breakpoint-medium& {
				background-color: transparent;
				bottom: 0;
				content: '';
				display: block;
				height: 2px;
				left: -1px;
				position: absolute;
				transition: var(--tec-transition-background-color);
				width: calc(100% + 2px);
			}
		}

		&:hover {

			&:after {

				.tribe-common--breakpoint-medium& {
					background-color: var(--tec-color-border-active-month-grid-hover);
				}
			}
		}
	}

	.tribe-events-calendar-month__day-date-link,
	.tribe-events-calendar-month__day-date-daynum {
		color: var(--tec-color-day-marker-month);
		transition: var(--tec-transition-color);

		&:hover,
		&:focus {
			color: var(--tec-color-day-marker-month-hover);
		}

		&:active {
			color: var(--tec-color-day-marker-month-active);
		}
	}

	.tribe-events-calendar-month__day--current {

		.tribe-events-calendar-month__day-date,
		.tribe-events-calendar-month__day-date-link {
			color: var(--tec-color-day-marker-current-month);
			font-weight: var(--tec-font-weight-bold);
		}

		.tribe-events-calendar-month__day-date-link {

			&:hover,
			&:focus {
				color: var(--tec-color-day-marker-month-current-hover);
			}

			&:active {
				color: var(--tec-color-day-marker-month-current-active);
			}
		}

		.tribe-events-calendar-month__day-date-daynum {
			color: inherit;
		}
	}

	.tribe-events-calendar-month__day--past {

		.tribe-events-calendar-month__day-date {
			opacity: 0.6;
		}

		.tribe-events-calendar-month__day-date,
		.tribe-events-calendar-month__day-date-link {
			color: var(--tec-color-day-marker-past-month);

			&:hover,
			&:focus {
				color: var(--tec-color-day-marker-month-past-hover);
			}

			&:active {
				color: var(--tec-color-day-marker-month-past-active);
			}

			.tribe-events-calendar-month__day-date-daynum {
				color: inherit;
			}
		}

		.tribe-events-calendar-month__mobile-events-icon--event {
			background-color: var(--tec-color-icon-active);
			opacity: 0.6;
		}

		.tribe-events-calendar-month__mobile-events-icon--featured {
			opacity: 0.6;

			.tribe-events-calendar-month__mobile-events-icon-svg path {
				fill: var(--tec-color-icon-active);
			}
		}
	}

	.tribe-events-calendar-month__day-cell--mobile {

		&:hover,
		&:focus {
			background-color: var(--tec-color-background-secondary);
		}
	}

	.tribe-events-calendar-month__day-cell--selected {
		background-color: var(--tec-color-accent-primary);

		&:hover,
		&:focus {
			background-color: var(--tec-color-accent-primary);
		}

		.tribe-events-calendar-month__day-date {
			color: var(--tec-color-background);
			opacity: var(--tec-opacity-default);
		}

		.tribe-events-calendar-month__mobile-events-icon--event {
			background-color: var(--tec-color-background);
			opacity: var(--tec-opacity-default);
		}

		.tribe-events-calendar-month__mobile-events-icon--featured {
			opacity: var(--tec-opacity-default);

			.tribe-events-calendar-month__mobile-events-icon-svg path {
				fill: var(--tec-color-background);
			}
		}
	}

	.tribe-events-calendar-month__mobile-events-icon--event {
		background-color: var(--tec-color-accent-primary);
	}

	.tribe-events-calendar-month__mobile-events-icon--featured {

		.tribe-events-calendar-month__mobile-events-icon-svg path {
			fill: currentColor;
		}
	}

	/* -----------------------------------------------------------------------------
	 * Day: Theme Overrides
	 * ----------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-events-calendar-month__day--current {

			.tribe-events-calendar-month__day-date-link {

				&:hover,
				&:focus {
					color: var(--tec-color-accent-primary-hover);
				}

				&:active {
					color: var(--tec-color-accent-primary-active);
				}
			}
		}

		.tribe-events-calendar-month__day-cell--selected {

			&:hover,
			&:focus {
				background-color: var(--tec-color-accent-primary);
			}
		}

		.tribe-events-calendar-month__day-date-link {

			&:hover,
			&:focus {
				color: var(--tec-color-accent-secondary-hover);
			}

			&:active {
				color: var(--tec-color-accent-secondary-active);
			}
		}
	}

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twenty
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentytwenty & {

		.tribe-events-calendar-month__day-cell--selected {
			background-color: var(--tec-color-accent-primary);
		}
	}

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Avada
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-avada #main & {

		.tribe-events-calendar-month__day-cell--selected {

			.tribe-events-calendar-month__day-date {
				color: var(--tec-color-background-events);
			}
		}
	}
}
