.tribe-events {
	/* -----------------------------------------------------------------------------
	 * Mobile Events
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month-mobile-events__mobile-event + .tribe-events-calendar-month-mobile-events__mobile-event {
		border-top: 1px solid var(--tec-color-border-default);
	}

	.tribe-events-calendar-month-mobile-events__mobile-event-datetime {
		color: var(--tec-color-text-secondary-event-date-month-mobile);
	}

	.tribe-events-calendar-month-mobile-events__mobile-event-datetime-featured-text {
		color: var(--tec-color-accent-primary);
		font-weight: var(--tec-font-weight-bold);
	}

	.tribe-events-calendar-month-mobile-events__mobile-event-datetime-recurring-link {

		&:hover,
		&:focus {

			.tribe-events-calendar-month-mobile-events__mobile-event-datetime-recurring-icon-svg path {
				fill: currentColor;
				stroke: currentColor;
			}
		}
	}

	.tribe-events-calendar-month-mobile-events__mobile-event-title-link {
		@mixin event-title-link-color;
	}
}
