.tribe-events {

	/* -----------------------------------------------------------------------------
	 * More Events
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__more-events {
		border-top: 1px solid var(--color-border-secondary);
	}

	.tribe-events-calendar-month__day--past {

		.tribe-events-calendar-month__more-events-link {
			opacity: 0.5;
		}
	}
}
