.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Multiday Event
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-month__multiday-event {
		overflow: hidden;
	}

	.tribe-events-calendar-month__multiday-event--hidden {
		opacity: 0;
	}

	.tribe-events-calendar-month__multiday-event--start {
		border-top-left-radius: 9.5px;
		border-bottom-left-radius: 9.5px;
	}

	.tribe-events-calendar-month__multiday-event--end {
		border-top-right-radius: 9.5px;
		border-bottom-right-radius: 9.5px;
	}

	.tribe-events-calendar-month__multiday-event-inner {
		background-color: var(--color-accent-primary-multiday);
		transition: var(--transition-background-color);

		&:hover,
		&:focus {
			background-color: var(--color-accent-primary-multiday-hover);
		}
	}

	.tribe-events-calendar-month__multiday-event-inner--focus,
	.tribe-events-calendar-month__multiday-event-inner--hover {
		background-color: var(--color-accent-primary-multiday-hover);
	}

	.tribe-events-calendar-month__multiday-event--past {

		.tribe-events-calendar-month__multiday-event-inner {
			background-color: var(--color-background-secondary);

			&:hover,
			&:focus {
				background-color: var(--color-background-secondary);
			}
		}

		.tribe-events-calendar-month__multiday-event-inner--focus,
		.tribe-events-calendar-month__multiday-event-inner--hover {
			background-color: var(--color-background-secondary);
		}

		.tribe-events-calendar-month__multiday-event-featured-icon,
		.tribe-events-calendar-month__multiday-event-title {
			opacity: 0.5;
		}
	}

	.tribe-events-calendar-month__multiday-event-featured-icon {
		flex: none;
		margin-right: 5px;
	}

	.tribe-events-calendar-month__multiday-event-title {
		font-weight: var(--font-weight-regular);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
