/* -----------------------------------------------------------------------------
 *
 * Breadcrumbs
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-breadcrumbs__list {
		font-family: var(--tec-font-family-base);
		font-size: var(--tec-font-size-2);
		line-height: var(--tec-line-height-1);

		.tribe-common--breakpoint-medium& {
			line-height: var(--tec-line-height-0);
		}
	}

	.tribe-events-c-breadcrumbs__list-item-link {
		color: var(--tec-color-link-accent);
		transition: var(--tec-transition-color);

		&:visited {
			color: var(--tec-color-text-secondary);
		}

		&:hover,
		&:focus {
			color: var(--tec-color-accent-primary-hover);
		}
	}

	.tribe-events-c-breadcrumbs__list-item-icon-svg path {
		fill: var(--tec-color-icon-primary);
	}
}
