/* -----------------------------------------------------------------------------
 *
 * Content Title
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-header__content-title {
		align-items: center;
		display: flex;

		&::after {
			background-color: var(--tec-color-border-default);
			content: "";
			display: block;
			flex: auto;
			height: 1px;
			margin-left: 20px;
		}

		/* If the only title is a11y-hidden, remove the decorative line. */
		&:has(.tec-a11y-title-hidden)::after {
			display: none;
			content: none;
		}

		.tribe-events-header__content-title-text {
			flex: none;
		}
	}
}
