/* -----------------------------------------------------------------------------
 *
 * Content Title
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-header__content-title {
		align-items: center;
		display: flex;

		&:after {
			background-color: var(--tec-color-border-default);
			content: '';
			display: block;
			flex: auto;
			height: 1px;
			margin-left: 20px;
		}

		.tribe-events-header__content-title-text {
			flex: none;
		}
	}
}
