/* -----------------------------------------------------------------------------
 *
 * Events Bar
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-header--has-event-search .tribe-events-c-events-bar {

		.tribe-common--breakpoint-medium& {
			background-color: var(--tec-color-background);
		}
	}

	.tribe-events-c-events-bar--border {

		.tribe-common--breakpoint-medium& {
			border: 1px solid var(--tec-color-border-events-bar);
		}
	}

	.tribe-events-c-events-bar__search-button {
		display: flex;

		&:hover,
		&:focus {
			opacity: var(--tec-opacity-icon-hover);
		}

		&:active {
			opacity: var(--tec-opacity-icon-active);
		}

		&:before {
			background-color: var(--tec-color-icon-events-bar-hover);
			content: '';
			display: none;
			height: 2px;
			pointer-events: none;
			position: absolute;
			top: 100%;
			transform: translateY(var(--tec-spacer-0));
			width: calc(100% - (2 * var(--tec-spacer-0)));
		}
	}

	.tribe-events-c-events-bar__search-button--active {

		&:before {
			display: block;
		}
	}

	.tribe-events-c-events-bar__search-button-icon-svg path {
		fill: var(--tec-color-icon-events-bar-active);
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Events Bar: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen.colors-dark & {

		.tribe-events-c-events-bar__search-button {

			&,
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
	}
}
