/* -----------------------------------------------------------------------------
 *
 * Header Title
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-header__title {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {

			&.tribe-events-header__title-text {
				font-family: var(--tec-font-family-base);
			}
		}
	}
}
