/* -----------------------------------------------------------------------------
 *
 * iCal Link
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-ical__link {

		&,
		&:visited {
			align-items: center;
			background-color: var(--tec-color-background);
			border: 1px solid var(--tec-color-accent-primary);
			border-radius: var(--tec-border-radius-default);
			color: var(--tec-color-accent-primary);
			font-weight: var(--tec-font-weight-bold);
		}

		&:hover,
		&:focus,
		&:focus-within,
		&:active {
			background-color: var(--tec-color-accent-primary);
			color: var(--tec-color-background);

			.tribe-events-c-ical__link-icon-svg path {
				stroke: var(--tec-color-background);
			}
		}
	}

	.tribe-events-c-ical__link-icon-svg {
		display: block;
		flex: none;
		margin-right: var(--tec-spacer-1);
		width: 10px;

		path {
			stroke: currentColor;
		}
	}

	.tec-subscribe-dropdown {
		display: flex;
		margin-bottom: var(--tec-spacer-7);
		margin-top: var(--tec-spacer-7);
		position: relative;

		.tec-subscribe-dropdown__selector {
			margin-left: auto;
			position: relative;
		}

		.tec-subscribe-dropdown__button-icon {
			color: var(--tec-color-background);
			display: inline-block;
			height: 6px;
			margin-left: var(--tec-spacer-1);
			vertical-align: middle;
			width: 10px;
		}

		.tec-subscribe-dropdown__selector-content {
			background-color: var(--tec-color-background-view-selector);
			border: 1px solid var(--tec-color-border-secondary);
			border-radius: var(--tec-border-radius-default);
			box-shadow: var(--tec-box-shadow-default);
			display: none;
			margin-top: var(--tec-spacer-0);
			padding: var(--tec-spacer-1);
			position: absolute;
			right: 0;
			transform: translateY(var(--tec-spacer-1));
			width: 100%;
			z-index: var(--tec-z-index-dropdown);

			.tec-subscribe-dropdown__selector-list {
				list-style: none;
				margin: 0;
				padding: 0;

				.tec-subscribe-dropdown__selector-list-item-link {
					align-items: center;
					border-radius: var(--tec-border-radius-default);
					color: var(--tec-color-text-primary);
					display: flex;
					outline: 0;
					padding: var(--tec-spacer-0) var(--tec-spacer-7) var(--tec-spacer-0) var(--tec-spacer-3);
					text-decoration: none;
				}

				.tec-subscribe-dropdown__selector-list-item-text {
					color: var(--tec-color-text-primary);
					font-family: var(--tec-font-family-sans-serif);
					font-size: var(--tec-font-size-2);
					font-weight: var(--tec-font-weight-regular);
					line-height: var(--tec-line-height-3);
				}
			}

			.tec-subscribe-dropdown__selector-list-item:hover,
			.tec-subscribe-dropdown__selector-list-item:focus,
			.tec-subscribe-dropdown__selector-list-item:focus-within {
				background-color: var(--tec-color-accent-primary-background);

				.tec-subscribe-dropdown__selector-list-item-text {
					font-weight: 700;
				}
			}
		}

		.tec-subscribe-dropdown__selector-button:hover,
		.tec-subscribe-dropdown__selector-button:focus,
		.tec-subscribe-dropdown__selector-button:focus-within {
			.tec-subscribe-dropdown__button-icon {
				transform: rotate(180deg);
			}
		}

		.tec-subscribe-dropdown__selector:hover,
		.tec-subscribe-dropdown__selector:focus,
		.tec-subscribe-dropdown__selector:focus-within {
			.tec-subscribe-dropdown__selector-content {
				display: block;
			}
		}
	}

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-events-c-ical__link {
			&:hover,
			&:focus,
			&:active {
				color: var(--tec-color-background);
			}
		}
	}

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twenty One
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentytwentyone & {

		.tribe-events-c-ical__link {

			&:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
				background-color: var(--tec-color-accent-primary);
				color: var(--tec-color-background);
			}
		}
	}
}
