/* -----------------------------------------------------------------------------
 *
 * iCal Link
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-ical__link {

		&,
		&:visited {
			align-items: center;
			background-color: var(--tec-color-background);
			border: 1px solid var(--tec-color-accent-primary);
			border-radius: var(--tec-border-radius-default);
			color: var(--tec-color-accent-primary);
			font-weight: var(--tec-font-weight-bold);

			&:hover,
			&:focus,
			&:active {
				background-color: var(--tec-color-accent-primary);
				color: var(--tec-color-background);

				.tribe-events-c-ical__link-icon-svg path {
					stroke: var(--tec-color-background);
				}
			}
		}
	}

	.tribe-events-c-ical__link-icon-svg {
		display: block;
		flex: none;
		margin-right: var(--tec-spacer-1);
		width: 10px;

		path {
			stroke: currentColor;
		}
	}

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-events-c-ical__link {
			&:hover,
			&:focus,
			&:active {
				color: var(--tec-color-background);
			}
		}
	}

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twenty One
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentytwentyone & {

		.tribe-events-c-ical__link {

			&:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
				background-color: var(--tec-color-accent-primary);
				color: var(--tec-color-background);
			}
		}
	}
}
