.tribe-events {
	/* -----------------------------------------------------------------------------
	 *
	 * Search
	 *
	 * Example:
	 * <form action="" method="post" class="tribe-events-c-search">
	 *   <div class="tribe-events-form-control-input-group tribe-events-c-search__input-group">
	 *     <div class="tribe-events-form-control-text tribe-events-c-search__input-control">
	 *       <label class="tribe-events-form-control-text__label" for="keyword">Keyword</label>
	 *       <input
	 *         class="tribe-events-form-control-text__input tribe-events-c-search__input"
	 *         type="text"
	 *         id="keyword"
	 *         name="keyword"
	 *         placeholder="Keyword"
	 *       />
	 *     </div>
	 *     <div class="tribe-events-form-control-text tribe-events-c-search__input-control">
	 *       <label class="tribe-events-form-control-text__label" for="location">Location</label>
	 *       <input
	 *         class="tribe-events-form-control-text__input tribe-events-c-search__input"
	 *         type="text"
	 *         id="location"
	 *         name="location"
	 *         placeholder="Location"
	 *       />
	 *     </div>
	 *     <div class="tribe-events-form-control-text">
	 *       <label class="tribe-events-form-control-text__label" for="date">Date</label>
	 *       <input
	 *         class="tribe-events-form-control-text__input tribe-events-c-search__input"
	 *         type="text"
	 *         id="date"
	 *         name="date"
	 *         placeholder="Enter Date"
	 *       />
	 *     </div>
	 *   </div>
	 *   <button type="submit" class="tribe-events-c-btn tribe-events-c-search__button">Find Events</button>
	 * </form>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-events-c-search__input-control {
		position: relative;

		.tribe-common--breakpoint-medium& {
			border-right: 1px solid var(--tec-color-border-events-bar);

			&:last-child {
				border-right: 0;
			}
		}
	}

	.tribe-events-c-search__input-control-icon-svg {
		color: var(--tec-color-icon-events-bar);
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		.tribe-common--breakpoint-medium& {
			left: 16px;
			right: auto;
		}

		path {
			fill: currentColor;
		}
	}

	.tribe-events-c-search__input-control--keyword,
	.tribe-events-c-search__input-control--location {

		.tribe-events-c-search__input {

			&:focus ~ .tribe-events-c-search__input-control-icon-svg path {
				fill: currentColor;
			}
		}
	}

	.tribe-events-c-search__input-control--keyword-focus,
	.tribe-events-c-search__input-control--location-focus {

		.tribe-events-c-search__input {

			& ~ .tribe-events-c-search__input-control-icon-svg path {
				fill: currentColor;
			}
		}
	}

	.tribe-events-c-search__button,
	button.tribe-events-c-search__button {
		background-color: var(--tec-color-background-events-bar-submit-button);
		background-image: none;
		box-shadow: none;
		color: var(--tec-color-text-events-bar-submit-button);
		font-style: normal;
		outline: none;
		text-decoration: none;
		text-shadow: none;

		&:focus,
		&:hover {
			background-color: var(--tec-color-background-events-bar-submit-button-hover);
			border: none;
			border-radius: var(--tec-border-radius-default);
			box-shadow: none;
			color: var(--tec-color-text-events-bar-submit-button-hover);
			font-size: var(--tec-font-size-2);
			font-style: normal;
			outline: none;
			text-decoration: none;
			text-shadow: none;
		}

		&:active {
			background-color: var(--tec-color-background-events-bar-submit-button-active);
			color: var(--tec-color-text-events-bar-submit-button-active);
		}
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Search: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen.colors-dark & {

		.tribe-events-c-search__input {
			background-color: var(--tec-background-color);
		}

		.tribe-events-c-search__button {
			background-color: var(--tec-color-background-events-bar-submit-button);
			color: var(--tec-color-text-events-bar-submit-button);

			&:focus,
			&:hover {
				background-color: var(--tec-color-background-events-bar-submit-button-hover);
				color: var(--tec-color-text-events-bar-submit-button-hover);
			}

			&:active {
				background-color: var(--tec-color-background-events-bar-submit-button-active);
				color: var(--tec-color-text-events-bar-submit-button-active);
			}
		}
	}

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twenty
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentytwenty & {

		.tribe-events-c-search__input {
			background-color: var(--tec-background-color);
		}

		.tribe-events-c-search__button {
			background-color: var(--tec-color-background-events-bar-submit-button);
			color: var(--tec-color-text-events-bar-submit-button);

			&:focus,
			&:hover {
				background-color: var(--tec-color-background-events-bar-submit-button-hover);
				color: var(--tec-color-text-events-bar-submit-button-hover);
			}

			&:active {
				background-color: var(--tec-color-background-events-bar-submit-button-active);
				color: var(--tec-color-text-events-bar-submit-button-active);
			}
		}
	}

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twentyone
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentytwentyone & {

		.tribe-events-c-search__button {

			&:not(:hover):not(:active) {
				background-color: var(--tec-color-background-events-bar-submit-button);
				color: var(--tec-color-text-events-bar-submit-button);
			}
		}
	}
}
