/* -----------------------------------------------------------------------------
 *
 * Small CTA (Tooltips - ET, ET+, RSVP)
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-small-cta__stock {
		color: var(--color-text-secondary);
	}
}
