/* -----------------------------------------------------------------------------
 *
 * Top Bar
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-events-c-top-bar__datepicker-button {
		transition: var(--transition-opacity);

		&:hover,
		&:focus {
			opacity: var(--opacity-icon-hover);
		}

		&:active {
			opacity: var(--opacity-icon-active);
		}

		&:after {
			background-image: svg-inline(caret-down);
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			margin-left: var(--spacer-1);
			height: 6px;
			width: 10px;

			@media (--viewport-medium) {
				height: 7px;
				width: 12px;
			}
		}
	}

	.tribe-events-c-top-bar__datepicker-button--open {

		&:after {
			background-image: svg-inline(caret-up);
		}
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Top Bar: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

}
