/* -----------------------------------------------------------------------------
 *
 * Top Bar
 *
 * ----------------------------------------------------------------------------- */

.tribe-common.tribe-common--breakpoint-medium button.tribe-events-c-top-bar__datepicker-button {
	font-size: var(--tec-font-size-8);
}

.tribe-events {

	button.tribe-events-c-top-bar__nav-link--prev:disabled,
	button.tribe-events-c-top-bar__nav-link--next:disabled {
		background-color: transparent;
		background-image: none;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: var(--tec-color-text-disabled);
		font-size: 1rem;
		font-style: normal;
		outline: none;
		padding: 0;
		text-decoration: none;
		text-shadow: none;
	}

	button.tribe-events-c-top-bar__datepicker-button {
		background-color: transparent;
		background-image: none;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: var(--tec-color-text-primary);
		font-size: var(--tec-font-size-6);
		font-style: normal;
		outline: none;
		padding: 0;
		text-decoration: none;
		text-shadow: none;
		transition: var(--tec-transition-opacity);

		&:hover,
		&:focus {
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: var(--tec-color-text-primary);
			opacity: var(--tec-opacity-icon-hover);
			outline: none;
			text-shadow: none;
		}

		&:active {
			opacity: var(--tec-opacity-icon-active);
		}
	}

	.tribe-events-c-top-bar__datepicker-button-icon-svg {
		display: block;
		height: 6px;
		margin-left: var(--tec-spacer-1);
		width: 9px;

		.tribe-common--breakpoint-medium& {
			height: 8px;
			width: 11px;
		}
	}

	.tribe-events-c-top-bar__datepicker-button--open {

		.tribe-events-c-top-bar__datepicker-button-icon-svg {
			transform: rotate(180deg);
		}
	}

	/* -----------------------------------------------------------------------------
	 *
	 * Top Bar: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen.colors-dark & {

		.tribe-events-c-top-bar__datepicker-button,
		.tribe-events-c-top-bar__nav-link {
			background-color: transparent;
		}
	}

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Genesis
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-genesis & {

		.tribe-events-c-top-bar__nav-link {
			&:disabled,
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
	}

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twenty One
	 * ----------------------------------------------------------------------------- */
	.tribe-theme-twentytwentyone & {
		button.tribe-events-c-top-bar__datepicker-button:focus {
			outline-offset: 0;
		}

		/* Higher level of specificity to avoid using !important and override the theme styles. */
		a.tribe-events-c-top-bar__nav-link--next.tribe-events-c-top-bar__nav-link:focus,
		a.tribe-events-c-top-bar__nav-link--prev.tribe-events-c-top-bar__nav-link:focus {
			background: transparent;
		}
	}
}
