.tribe-events {
	/* -----------------------------------------------------------------------------
	 *
	 * View Selector
	 *
	 * Example (Select):
	 * <div class="tribe-events-c-view-selector">
	 *   <button
	 *     class="tribe-events-c-view-selector__button"
	 *     aria-controls="container-id"
	 *     aria-expanded="false"
	 *   >
	 *     <span class="tribe-events-c-view-selector__button-icon">
	 *       <?php $this->template( 'components/icons/' . esc_attr( $view_slug ), [ 'classes' => [ 'tribe-events-c-view-selector__button-icon-svg' ] ] ); ?>
	 *     </span>
	 *     <span class="tribe-events-c-view-selector__button-text">
	 *       Month
	 *     </span>
	 *     <?php $this->template( 'components/icons/caret-down', [ 'classes' => [ 'tribe-events-c-view-selector__button-icon-caret-svg' ] ] ); ?>
	 *   </button>
	 *   <div
	 *     class="tribe-events-c-view-selector__content"
	 *     id="container-id"
	 *     aria-hidden="true"
	 *   >
	 *     <ul class="tribe-events-c-view-selector__list">
	 *       <li class="tribe-events-c-view-selector__list-item">
	 *         <a href="#" class="tribe-events-c-view-selector__list-item-link" data-js="tribe-events-view-link">
	 *           <span class="tribe-events-c-view-selector__list-item-icon">
	 *             <?php $this->template( 'components/icons/' . esc_attr( $public_view_slug ), [ 'classes' => [ 'tribe-events-c-view-selector__list-item-icon-svg' ] ] ); ?>
	 *           </span>
	 *           <span class="tribe-events-c-view-selector__list-item-text">
	 *             Month
	 *           </span>
	 *         </a>
	 *       </li>
	 *       <li class="tribe-events-c-view-selector__list-item">
	 *         <a href="#" class="tribe-events-c-view-selector__list-item-link" data-js="tribe-events-view-link">
	 *           <span class="tribe-events-c-view-selector__list-item-icon">
	 *             <?php $this->template( 'components/icons/' . esc_attr( $public_view_slug ), [ 'classes' => [ 'tribe-events-c-view-selector__list-item-icon-svg' ] ] ); ?>
	 *           </span>
	 *           <span class="tribe-events-c-view-selector__list-item-text">
	 *             List
	 *           </span>
	 *         </a>
	 *       </li>
	 *     </ul>
	 *   </div>
	 * </div>
	 *
	 * Example (Tabs):
	 * <div class="tribe-events-c-view-selector tribe-events-c-view-selector--tabs">
	 *   ... (same as above)
	 * </div>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-events-c-view-selector--labels {

		.tribe-events-c-view-selector__button,
		button.tribe-events-c-view-selector__button {
			background-color: inherit;
			background-image: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: inherit;
			font-size: 1rem;
			font-style: normal;
			outline: none;
			text-decoration: none;
			text-shadow: none;

			&:focus,
			&:hover {
				background-color: inherit;
				background-image: none;
				border-radius: 0;
				box-shadow: none;
				color: var(--tec-color-text-events-bar-submit-button-hover);
				font-style: normal;
				outline: none;
				text-decoration: none;
				text-shadow: none;
			}

			&:before {

				.tribe-common--breakpoint-medium& {
					content: none;
				}
			}
		}

		.tribe-events-c-view-selector__button-icon-caret-svg {

			.tribe-common--breakpoint-medium& {
				color: var(--tec-color-icon-events-bar);
				display: block;
				flex: none;
				height: 6px;
				margin-left: var(--tec-spacer-1);
				width: 10px;

				path {
					fill: currentColor;
				}
			}
		}

		.tribe-events-c-view-selector__button--active {

			.tribe-events-c-view-selector__button-icon-caret-svg {

				.tribe-common--breakpoint-medium& {
					transform: rotate(180deg);
				}
			}
		}

		.tribe-events-c-view-selector__button-text {

			.tribe-common--breakpoint-medium& {
				@mixin desktop-body-2-bold;

				color: var(--tec-color-text-view-selector-list-item);
			}
		}

		.tribe-events-c-view-selector__content {

			.tribe-common--breakpoint-medium& {
				box-shadow: var(--tec-box-shadow-default);
			}
		}
	}

	.tribe-events-c-view-selector--tabs {

		.tribe-events-c-view-selector__content {
			background-color: var(--tec-color-background-view-selector);

			.tribe-common--breakpoint-medium& {
				border: 0;
				border-radius: 0;
				box-shadow: none;
			}
		}

		.tribe-events-c-view-selector__list-item--active {

			.tribe-events-c-view-selector__list-item-link {

				&:after {

					.tribe-common--breakpoint-medium& {
						background-color: var(--tec-color-accent-secondary);
						bottom: -1px;
						content: '';
						display: block;
						height: 2px;
						position: absolute;
						width: 100%;
					}
				}
			}
		}
	}

	.tribe-events-c-view-selector__button {
		text-align: left;

		&:hover,
		&:focus {
			opacity: var(--tec-opacity-icon-hover);
		}

		&:active {
			opacity: var(--tec-opacity-icon-active);
		}

		&:before {
			background-color: var(--tec-color-accent-primary);
			content: '';
			display: none;
			height: 2px;
			pointer-events: none;
			position: absolute;
			top: 100%;
			transform: translateY(var(--tec-spacer-0));
			width: calc(100% - (2 * var(--tec-spacer-0)));

			.tribe-common--breakpoint-medium& {
				transform: none;
				width: calc(100% - (2 * var(--tec-spacer-1)));
			}
		}
	}

	.tribe-events-c-view-selector__button--active {

		&:before {
			display: block;
		}
	}

	.tribe-events-c-view-selector__content {
		background-color: var(--tec-color-background-view-selector);
		border: 1px solid var(--tec-color-border-secondary);
		border-radius: var(--tec-border-radius-default);
		box-shadow: var(--tec-box-shadow-tooltip);
	}

	.tribe-events-c-view-selector__list-item {

		.tribe-common--breakpoint-medium& {

			&:hover,
			&:focus,
			&:focus-within {
				background-color: var(--tec-color-background-view-selector-list-item-hover);
			}
		}
	}

	.tribe-events-c-view-selector__list-item-text {
		@mixin desktop-body-2;

		color: var(--tec-color-text-view-selector-list-item);
	}

	.tribe-events-c-view-selector__list-item--active {

		.tribe-events-c-view-selector__list-item-text {
			font-weight: var(--tec-font-weight-bold);
		}
	}

	.tribe-events-c-view-selector__list-item-link {
		border-radius: var(--tec-border-radius-default);
		color: var(--tec-color-text-view-selector-list-item);

		&:hover,
		&:focus {

			.tribe-events-c-view-selector__list-item-icon {
				opacity: var(--tec-opacity-icon-hover);
			}

			.tribe-events-c-view-selector__list-item-text {
				color: var(--tec-color-text-view-selector-list-item-hover);
			}
		}
	}

	/* -----------------------------------------------------------------------------
	 *
	 * View Selector: Theme Overrides
	 *
	 * ----------------------------------------------------------------------------- */

	/* -----------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ----------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen.colors-dark & {

		.tribe-events-c-view-selector__button {

			&,
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
	}
}
