.tribe-events {

	/* -----------------------------------------------------------------------------
	 * View Box Border
	 * ----------------------------------------------------------------------------- */
	.tec-events-c-view-box-border {
		background-color: var(--tec-color-background);
		border: 1px solid var(--tec-color-border-default);
	}
}
