name: 'PHPCS'
on: [pull_request]
jobs:
  conditional:
    runs-on: ubuntu-latest
    outputs:
      has-php-changes: ${{ steps.php-changes.outputs.has-php-changes }}
      should-run: ${{ steps.php-changes.outputs.should-run }}
    steps:
      - name: Check PHP changes
        id: php-changes
        uses: the-events-calendar/actions/.github/actions/php-change-detector@main
        with:
          skip-flag: phpcs
  phpcs:
    needs:
      - conditional
    if: needs.conditional.outputs.should-run == '1'
    uses: stellarwp/github-actions/.github/workflows/phpcs.yml@main
    with:
      ref: ${{ github.event.inputs.ref }}
      change_permissions: false
    secrets:
      access-token: ${{ secrets.GHA_BOT_TOKEN_MANAGER }}
