name: 'Codeception Tests'
on: [ pull_request ]
jobs:
  test:
    strategy:
      matrix:
        suite:
          - acceptance
          - aggregatorv1
          - blocks_editor_integration
          - integration
          - muintegration
          - restv1
          - views_integration
          - views_rest
          - views_settings
          - views_ui
          - views_v2_customizer_integration
          - views_widgets
          - views_wpunit
          - wpunit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1000
          submodules: recursive
      # ------------------------------------------------------------------------------
      # Check if any PHP files have changed
      # ------------------------------------------------------------------------------
      - name: Check changed files
        id: skip
        run: |
          num_php_files=$(git diff ${{ github.event.pull_request.base.sha }} HEAD --name-only | grep -P "\.php" | wc -l)
          if [[ -z "$num_php_files" ]]; then
            echo "::set-output name=value::1"
          elif [[ "$num_php_files" == "0" || "$num_php_files" == "" ]]; then
            echo "::set-output name=value::1"
          else
            echo "::set-output name=value::0"
          fi
      # ------------------------------------------------------------------------------
      # Checkout tric
      # ------------------------------------------------------------------------------
      - name: Checkout tric
        uses: actions/checkout@v2
        if: steps.skip.outputs.value != 1
        with:
          repository: the-events-calendar/tric
          ref: main
          path: tric
          fetch-depth: 1
      # ------------------------------------------------------------------------------
      # Prepare our composer cache directory
      # ------------------------------------------------------------------------------
      - name: Get Composer Cache Directory
        id: get-composer-cache-dir
        if: steps.skip.outputs.value != 1
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        id: composer-cache
        if: steps.skip.outputs.value != 1
        with:
          path: ${{ steps.get-composer-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      # ------------------------------------------------------------------------------
      # Initialize tric
      # ------------------------------------------------------------------------------
      - name: Set up tric env vars
        if: steps.skip.outputs.value != 1
        run: |
          echo "TRIC_BIN=${GITHUB_WORKSPACE}/tric/tric" >> $GITHUB_ENV
          echo "TRIC_WP_DIR=${GITHUB_WORKSPACE}/tric/_wordpress" >> $GITHUB_ENV
          echo "TRIC_WORDPRESS_DOCKERFILE=Dockerfile.base" >> $GITHUB_ENV
      - name: Set run context for tric
        if: steps.skip.outputs.value != 1
        run: echo "TRIC=1" >> $GITHUB_ENV && echo "CI=1" >> $GITHUB_ENV
      - name: Start ssh-agent
        if: steps.skip.outputs.value != 1
        run: |
          mkdir -p "${HOME}/.ssh";
          ssh-agent -a /tmp/ssh_agent.sock;
      - name: Export SSH_AUTH_SOCK env var
        if: steps.skip.outputs.value != 1
        run: echo "SSH_AUTH_SOCK=/tmp/ssh_agent.sock" >> $GITHUB_ENV
      - name: Set up tric for CI
        if: steps.skip.outputs.value != 1
        run: |
          cd ${GITHUB_WORKSPACE}/..
          ${TRIC_BIN} here
          ${TRIC_BIN} interactive off
          ${TRIC_BIN} build-prompt off
          ${TRIC_BIN} build-subdir off
          ${TRIC_BIN} xdebug off
          ${TRIC_BIN} debug on
          ${TRIC_BIN} info
          ${TRIC_BIN} config
      - name: Start the Chrome container
        if: steps.skip.outputs.value != 1
        run: ${TRIC_BIN} up chrome
      - name: Set up Common
        if: steps.skip.outputs.value != 1
        run: |
          docker network prune -f
          ${TRIC_BIN} use the-events-calendar/common
          ${TRIC_BIN} composer install --no-dev
      - name: Set up The Events Calendar
        if: steps.skip.outputs.value != 1
        run: |
          ${TRIC_BIN} use the-events-calendar
          ${TRIC_BIN} composer install
      - name: Run suite tests
        if: steps.skip.outputs.value != 1
        run: ${TRIC_BIN} run ${{ matrix.suite }} --ext DotReporter
