name: Generate Zip

on:
  pull_request:
  workflow_dispatch:
    inputs:
      slack_channel:
        description: 'Slack channel ID to post to'
        required: false
      slack_thread:
        description: 'Slack thread to post to'
        required: false
      ref:
        description: 'Git Commit Ref (branch, tag, or hash)'
        default: 'main'
        required: true
        type: string
      production:
        description: 'Is this a production build?'
        required: false
        default: false
        type: boolean
      final:
        description: 'Zip type: 0 = dev, 1 = production'
        required: false
        default: '0'
jobs:
  generate-zip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      # ------------------------------------------------------------------------------
      # Set branch to zip, includes Backwards compatibility for "final" vs. "production"
      # ------------------------------------------------------------------------------
      - name: If a workflow_dispatch, set PRODUCTION_ZIP based on input
        if: ${{github.event_name == 'workflow_dispatch'}}
        run: |
          echo "PRODUCTION_ZIP=${{ inputs.production == 'true' || inputs.final == 1 }}" >> $GITHUB_ENV

      - name: If a pull_request, force PRODUCTION_ZIP to false
        if: ${{github.event_name == 'pull_request'}}
        run: |
          echo "PRODUCTION_ZIP=false" >> $GITHUB_ENV

      # -----------------------------------------------------------------------------
      # Setup SSH keys and known_hosts
      # ------------------------------------------------------------------------------
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.GH_ACTIONS_SSH_KEY }}
          name: id_rsa
          known_hosts: github.com

      # ------------------------------------------------------------------------------
      # Checkout jenkins-scripts
      # ------------------------------------------------------------------------------
      - name: Checkout jenkins-scripts
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
          repository: the-events-calendar/jenkins-scripts
          ref: main
          path: jenkins-scripts
          fetch-depth: 1

      # ------------------------------------------------------------------------------
      # Checkout the repo
      # ------------------------------------------------------------------------------
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1000
          token: ${{ secrets.GH_BOT_TOKEN }}
          submodules: recursive
          ref: ${{ inputs.ref }}

      # ------------------------------------------------------------------------------
      # Install and Setup NVM if .nvmrc exists.
      # ------------------------------------------------------------------------------
      - name: Check for .nvmrc file
        id: check-nvmrc
        run: |
          if [ -f "${{ github.workspace }}/.nvmrc" ]; then
            echo "nvmrc_exists=true" >> $GITHUB_ENV
          else
            echo "nvmrc_exists=false" >> $GITHUB_ENV
          fi

      - uses: actions/setup-node@v4
        if: ${{env.nvmrc_exists == 'true'}}
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      # ------------------------------------------------------------------------------
      # Install Pup
      # ------------------------------------------------------------------------------
      - name: install pup
        run: composer -- pup && cd common && composer -- pup

      # ------------------------------------------------------------------------------
      # Get the version
      # ------------------------------------------------------------------------------
      - name: get version
        if: ${{ env.PRODUCTION_ZIP == 'true' }}
        run: echo "VERSION=$(composer -- pup get-version)" >> $GITHUB_ENV

      - name: get dev version
        if: ${{ env.PRODUCTION_ZIP == 'false' }}
        run: echo "VERSION=$(composer -- pup get-version --dev)" >> $GITHUB_ENV

      # ------------------------------------------------------------------------------
      # Get initial dev zip name - pup appends the '-dev' and version automagically
      # ------------------------------------------------------------------------------
      - name: get initial zip name
        id: initial_zip_name
        run: echo "PUP_ZIP_NAME=$(composer -- pup zip-name ${{ env.VERSION }})" >> $GITHUB_ENV

      # ------------------------------------------------------------------------------
      # Check if the zip already exists on s3 - but NOT for production builds
      # ------------------------------------------------------------------------------
      - name: Check if the zip already exists
        if: ${{ env.PRODUCTION_ZIP == 'false' }}
        uses: the-events-calendar/action-s3-utility@main
        id: s3_zip
        continue-on-error: true
        env:
          S3_BUCKET: ${{ secrets.PACKAGED_ZIP_BUCKET }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_REGION: ${{ secrets.PACKAGED_ZIP_REGION }}
          S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          COMMAND: exists
          FILE: ${{ env.PUP_ZIP_NAME }}.zip

      # ------------------------------------------------------------------------------
      # Run Pup Build on new OR production build
      # ------------------------------------------------------------------------------
      - name: pup build
        if: ${{ env.PRODUCTION_ZIP == 'true' || steps.s3_zip.outcome != 'success'}}
        run: composer -- pup build

      # ------------------------------------------------------------------------------
      # Run Pup Check only on a production build (TBDs and version conflicts)
      # ------------------------------------------------------------------------------
      - name: pup check
        if: ${{ env.PRODUCTION_ZIP == 'true' }}
        run: composer -- pup check

      # ------------------------------------------------------------------------------
      # Run Pup i18n only on a production build (include translation files)
      # ------------------------------------------------------------------------------
      - name: pup i18n
        if: ${{ env.PRODUCTION_ZIP == 'true' }}
        run: composer -- pup i18n

      # ------------------------------------------------------------------------------
      # Run Pup Package - creates the zip file for new OR production builds
      # ------------------------------------------------------------------------------
      - name: pup package
        if: ${{env.PRODUCTION_ZIP == 'true' || steps.s3_zip.outcome != 'success'}}
        run:  composer -- pup package ${{ env.VERSION }}

      # ------------------------------------------------------------------------------
      # Move the zip file for new OR production builds
      # ------------------------------------------------------------------------------
      - name: Create the zip_files folder
        if: ${{env.PRODUCTION_ZIP == 'true' || steps.s3_zip.outcome != 'success'}}
        run: |
          mkdir zip_files
          cp ${{ env.PUP_ZIP_NAME }}.zip zip_files

      # ------------------------------------------------------------------------------
      # Upload the zip to S3 for new OR production builds
      # ------------------------------------------------------------------------------
      - name: Upload plugin artifact
        uses: the-events-calendar/action-s3-utility@main
        if: ${{env.PRODUCTION_ZIP == 'true' || steps.s3_zip.outcome != 'success'}}
        with:
          args: --acl public-read --follow-symlinks
        env:
          S3_BUCKET: ${{ secrets.PACKAGED_ZIP_BUCKET }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_REGION: ${{ secrets.PACKAGED_ZIP_REGION }}
          S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          COMMAND: sync
          SOURCE_DIR: zip_files

      # ------------------------------------------------------------------------------
      # Send slack message
      # ------------------------------------------------------------------------------
      - name: Send Slack message
        if: ${{ github.event.inputs.slack_channel != '' && github.event.inputs.slack_thread != '' }}
        run: |
          curl -X GET "https://utility.theeventscalendar.com/slack-message.php?channel=${{ inputs.slack_channel }}&thread=${{ inputs.slack_thread }}&file=${{ env.PUP_ZIP_NAME }}.zip&secret=${{ secrets.SLACK_PACKAGING_SECRET }}&url=https://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}"
