.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-day-nav {
		padding-top: var(--spacer-5);

		@media (--viewport-medium) {
			padding-top: var(--spacer-7);
		}
	}
}
