.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Time separator
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-day__time-separator {
		display: flex;
		align-items: center;
	}

	.tribe-events-calendar-day__time-separator-text {
		flex: none;
	}
}

