.tribe-events {

	/* -----------------------------------------------------------------------------
	 * Type separator
	 * ----------------------------------------------------------------------------- */

	.tribe-events-calendar-day__type-separator {
		display: flex;
		align-items: center;
	}

	.tribe-events-calendar-day__type-separator-text {
		flex: none;
	}
}

